<!DOCTYPE html>
<html class="day_bg">
<head>
	<meta charset="utf-8">
	<title>Pokedex</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Lobster&family=VT323&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css">
</head>
<body>
<div class="grid">
	<header class="day_header">
		<div id="header_logo">
			<h1>About</h1>
			<h4 id="firma">by RGW</h4>
			<div>
				<img id="poke_logo" src="../resources/img/pokeball2.png" alt="Logo">
			</div>	
		</div>
		<nav class="flex">
			<a class="flex" href="../index.html">
				<img class="wiggler" src="../resources/img/minilogo1.png" alt="Icon">
				<h3>Home</h3>
			</a>
			<a class="flex" href="pokedex.html">
				<img class="wiggler" src="../resources/img/minilogo2.png" alt="Icon">
				<h3>Pokedex</h3>
			</a>
			<a class="flex" href="quiz.html">
				<img class="wiggler" src="../resources/img/minilogo3.png" alt="Icon">
				<h3>Quiz</h3>
			</a>
			<a class="flex" href="about.html">
				<img class="wiggler" src="../resources/img/minilogo4.png" alt="Icon">
				<h3>About</h3>
			</a>
			<a class="flex" href="contact.html">
				<img class="wiggler" src="../resources/img/minilogo5.png" alt="Icon">
				<h3>Contact</h3>
			</a>	
		</nav>
	</header>
	<main>
		<section>
			<table>
				<tr>
					<th colspan="2"><h2>Detalle de las Tecnologías Implementadas</h2></th>
				</tr>
				<tr>
					<th>Tecnología</th>
					<th>Función</th>
				</tr>
				<tr>
					<td>PHP</td>
					<td>Para la conexión con la API, consultas a la base de datos y control de las views</td>
				</tr>
				<tr>
					<td>API</td>
					<td>PokéApi desde donde se extraen todos los datos</td>
				</tr>
				<tr>
					<td>¿Qué puedes hacer?</td>
					<td>
						<ol>
							<li>Busca con una Id, puede ser de 1 a 151</li>
							<li>Click en buscar</li>
							<li>Navega por la información</li>
						</ol>
					</td>
				</tr>
				<tr>
					<td>¿Qué más puedo hacer?</td>
					<td>
						<ul>
							<li>Puedes ver las evoluciones haciendo click en cada ícono</li>
							<li>Estudiar para tomar el Quiz</li>
							<li>Contactarme para hacerme saber si algo está mal o contribuir</li>
						</ul>
					</td>
				</tr>
			</table>
		</section>
	</main>
	<aside>
		<section>
			<h4>Aside Section</h4>
			<p>Projecto final para CoderHouse, desarrollo Web</p>
			<p>Rodrigo González Wilkens</p>
		</section>
	</aside>
	<footer class="day_footer flex">
		<div id="footer_logo">
			<img src="../resources/img/footer_logo.png" alt="logo_footer">
		</div>
		<div class="footer_section">
			<p>Author: Rodrigo González Wilkens</p>
			<p id="copyrights">no copyright infringement intended</p>
		</div>
	</footer>
</div>
</body>
</html>