<!DOCTYPE html>
<html class="day_bg">
<head>
	<meta charset="utf-8">
	<title>Pokedex</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Lobster&family=VT323&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css">
</head>
<body>
<div class="grid">
	<header class="day_header">
		<div id="header_logo">
			<h1>About</h1>
			<h4 id="firma">by RGW</h4>
			<div>
				<img id="poke_logo" src="../resources/img/pokeball2.png" alt="Logo">
			</div>	
		</div>
		<nav class="flex">
			<a class="flex" href="../index.html">
				<img class="wiggler" src="../resources/img/minilogo1.png" alt="Icon">
				<h3>Home</h3>
			</a>
			<a class="flex" href="pokedex.html">
				<img class="wiggler" src="../resources/img/minilogo2.png" alt="Icon">
				<h3>Pokedex</h3>
			</a>
			<a class="flex" href="quiz.html">
				<img class="wiggler" src="../resources/img/minilogo3.png" alt="Icon">
				<h3>Quiz</h3>
			</a>
			<a class="flex" href="about.html">
				<img class="wiggler" src="../resources/img/minilogo4.png" alt="Icon">
				<h3>About</h3>
			</a>
			<a class="flex" href="contact.html">
				<img class="wiggler" src="../resources/img/minilogo5.png" alt="Icon">
				<h3>Contact</h3>
			</a>	
		</nav>
	</header>
	<main>
		<section>
			<h4>¿De qué va esta página?</h4>
			<p class="text_p">El objetivo es hacer una página atractiva donde se pueda visualizar la información de los 151 pokemons originales</p>
			<p class="text_p">Junto con esto, ofrecer la opción de realizar un test o Quiz para poner a prueba los conocimientos</p>
		</section>
	</main>
	<aside>
		<section>
			<div id="video_div">
				<iframe src="https://www.youtube.com/embed/Rsv2VkoIpk0?rel=0&amp;autoplay=1&mute=1" width="400" height="300" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</section>
	</aside>
	<footer class="day_footer flex">
		<div id="footer_logo">
			<img src="../resources/img/footer_logo.png" alt="logo_footer">
		</div>
		<div class="footer_section">
			<p>Author: Rodrigo González Wilkens</p>
			<p id="copyrights">no copyright infringement intended</p>
		</div>
	</footer>
</div>
</body>
</html>