<!DOCTYPE html>
<html class="day_bg">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Find out all about the Pokedex Project">
	<meta name="keywords" content="Pokemon, Pokedex, Project">
	<meta name="author" content="Rodrigo González Wilkens">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Lobster&family=VT323&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../resources/css/main.css">
	<title>About - Pokedex</title>
</head>
<body>
<div class="wrapper">
	<header class="header day_header" data-aos="top-top">
		<div class="header__logo">
			<h1 class="header__logo__title">About</h1>
			<h4 class="header__logo__firma">by RGW</h4>
			<div class="header__logo__ball">
				<img class="header__logo__ball__img" id="poke_logo" src="../resources/img/pokeball2-dark.png" alt="Logo">
			</div>	
		</div>
		<nav class="navflex">
			<a class="navflex__link" href="../index.html">
				<img class="navflex__link__wiggler" src="../resources/img/minilogo1.png" alt="Icon">
				<h3 class="navflex__link__text">Home</h3>
			</a>
			<a class="navflex__link" href="pokedex.html">
				<img class="navflex__link__wiggler" src="../resources/img/minilogo2.png" alt="Icon">
				<h3 class="navflex__link__text">Pokedex</h3>
			</a>
			<a class="navflex__link" href="quiz.html">
				<img class="navflex__link__wiggler" src="../resources/img/minilogo3.png" alt="Icon">
				<h3 class="navflex__link__text">Quiz</h3>
			</a>
			<a class="navflex__link" href="about.html">
				<img class="navflex__link__wiggler" src="../resources/img/minilogo4.png" alt="Icon">
				<h3 class="navflex__link__text">About</h3>
			</a>
			<a class="navflex__link" href="contact.html">
				<img class="navflex__link__wiggler" src="../resources/img/minilogo5.png" alt="Icon">
				<h3 class="navflex__link__text">Contact</h3>
			</a>	
		</nav>
	</header>

	<!-- MAIN -->
	<main>
	
		<section class="sectionX about">
			<div class="section__firstCard about__first ">
				<h2>What is this site for?</h2>
				<div class="section__firstCard__imgLeft about__first__imgLeft">
					<img src="../resources/img/jiggly.png" alt="Pokedex">
				</div>
			</div>
			<div class="section__secondCard about__second">
				<div class="section__secondCard__mainBlock about__second__mainBlock">
					<h3 class="about__second__mainBlock__title">
						The main objetive:
					</h3>
					<p class="about__second__mainBlock__text">
						To build a Pokedex so we all can learn about pokemons
					</p>
				</div>
				<div class="section__secondCard__subBlock about__second__subBlock">

				</div>
			</div>
		</section>

		<!-- asider -->
		<aside class="asider">
			<div class="asider__pokedex">
				<img class="asider__pokedex__img" src="../resources/img/pokedex.png" alt="pokedex">
			</div>
			<div class="asider__text quizFontFix">
				<p class="asider__text__p quizFontFix__text">A personal project for <a href="https://www.coderhouse.com/">CoderHouse's</a> web development course</p>
				<p class="asider__text__firma quizFontFix__firma">by RGW</p>		
			</div>
			<div class="asider__logo">
				<img class="asider__logo__img" src="../resources/img/footer_logo.png" alt="asidel logo">
			</div>
		</aside>
		<!-- fin aside -->

		<section class="sectionX only">
			<div class="section__firstCard only__first ">
				<h2>Is that all?</h2>
				<div class="section__firstCard__imgRight only__first__imgRight">
					<img src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/44.png' alt='Gloom'>
				</div>
			</div>
			<div class="section__secondCard only__second">
				<div class="section__secondCard__mainBlock only__second__mainBlock">
					<h3 class="only__second__mainBlock__title">
						Well ... No.
					</h3>
					<p class="only__second__mainBlock__text">
						The second objetive of this site is to create a Pokemon Trivi or Quiz. 
					</p>
				</div>
				<div class="section__secondCard__subBlock only__second__subBlock">

				</div>
			</div>
		</section>

		<section class="sectionX what">
			<div class="section__firstCard what__first">
				<h2>What is a pokedex?</h2>
				<div class="section__firstCard__imgLeft what__first__imgLeft">
					<img src="../resources/img/pokedex.png" alt="Pokedex">
				</div>
			</div>
			<div class="section__secondCard what__second">
				<div class="section__secondCard__mainBlock what__second__mainBlock">
					<h3 class="what__second__mainBlock__title">
						Glad you asked!
					</h3>
					<p class="what__second__mainBlock__text">
						A Pokedex is a kind of wikipedia of pokemons where you can fin information about pokemons.
					</p>
				</div>
				<div class="section__secondCard__subBlock what__second__subBlock">

				</div>
			</div>
		</section>

		<!-- asidel -->
		<asidel class="asidel">
			<div class="asidel__logo">
				<img class="asidel__logo__img" src="../resources/img/footer_logo.png" alt="asidel logo">
			</div>
			<div class="asidel__text quizFontFix">
				<p class="asidel__text__p quizFontFix__text">Many thanks to <a href="https://pokeapi.co/">PokeApi</a> for their amazing work</p>
				<p class="asidel__text__firma quizFontFix__firma">by RGW</p>		
			</div>

			<div class="asidel__pokedex">
				<img class="asidel__pokedex__img" src="../resources/img/pokedex.png" alt="pokedex">
			</div>
		</asidel>
		<!-- fin aside -->

		<section class="sectionX grow">
			<div class="section__firstCard grow__first ">
				<h2>Further developments</h2>
				<div class="section__firstCard__imgLeft grow__first__imgLeft">
					<img src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/43.png' alt='Odish'>
				</div>
			</div>
			<div class="section__secondCard grow__second">
				<div class="section__secondCard__mainBlock grow__second__mainBlock">
					<h3 class="grow__second__mainBlock__title">
						This is where it gets interesting
					</h3>
					<p class="grow__second__mainBlock__text">
						This project can be applied to all sorts of content to create educational apps.
					</p>
				</div>
				<div class="section__secondCard__subBlock grow__second__subBlock">

				</div>
			</div>
		</section>





	<!--div class="about_hoover">
		<section class="sect">
			<h4 class="sect__title">¿De qué va esta página?</h4>
			<p class="sect__text">El <strong>principal</strong> objetivo es crear un Pokedex</p>
			<h5 class="sect__title">¿Un pokedex?</h5>
			<div class="sect__card" id="pokedex_toogler">
				<div class="sect__card__img" id="pokedex_show">
					<div class="sect__card__pokedex">
						<img class="sect__card__pokedex__img" src="../resources/img/pokedex.png" alt="Pokedex">
					</div>
				</div>
				<div clas="sect__card__text" id="pokedex_hide">
					<p class="sect__card__text__p">Un pokedex puedes pensarlo como un buscador que contiene la información de los diferentes pokemons</p>
					<p class="sect__card__text__p">Ideal para quien no sabe de pokemons!</p>
				</div>	
			</div>
			<div class="sect__jigglyL">
				<img class="sect__jigglyL__img" src="../resources/img/teacher_left.png" alt="jigglypuff">
			</div>
		</section>
		<section class="sect" data-aos="fade-up" data-aos-duration="1000">
			<h4 class="sect__title">¿Solamente eso?</h4>
			<p class="sect__text"> Una respuesta rápida: <strong>no</strong></p>
			<h5 class="sect__title">¿Qué más se puede hacer?</h5>
			<div class="sect__card" >
				<div class="sect__card__img">
					<img src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/115.png' alt='poke_img'>
				</div>
				<div clas="sect__card__text">
					<p class="sect__card__text__p">Puedes poner a prueba tus conocimientos</p>
					<p class="sect__card__text__p">Para ello, está <strong>la sección Quiz</strong></p>
				</div>					
			</div>
			<div class="sect__jigglyR">
				<img class="sect__jigglyR__img" src="../resources/img/teacher_right.png" alt="jigglypuff">
			</div>
		</section>
	</div>
		
		<asidel class="asider about_asider">
			<div class="asider__pokedex">
				<img class="asider__pokedex__img" src="resources/img/pokedex.png" alt="pokedex">
			</div>
			<div class="asider__text">
				<p class="asider__text__p">A project for <a href="https://www.coderhouse.com/">CoderHouse's</a> web development course</p>
				<p class="asider__text__firma">by RGW</p>		
			</div>
			<div class="asider__logo">
				<img class="asider__logo__img" src="../resources/img/footer_logo.png" alt="asidel logo">
			</div>
		</asidel>
		

		
	<div class="about_hoover">
		<section class="sect" data-aos="fade-up" data-aos-duration="1000">
			<h4 class="sect__title">Pero ¿por qué un Pokedex?</h4>
			<p class="sect__text"> Hay varias razones! <br> Pero una respuesta rápida sería: porque los Pokemons son <strong>divertidos</strong></p>
			<h5 class="sect__title">Esa no puede ser una razón!</h5>
			<div class="sect__card" >
				<div clas="sect__card__text">
					<p class="sect__card__text__p">Es cierto, no es suficiente.</p>
					<p class="sect__card__text__p">La realidad es que gracias a <a href="">PokeApi</a> contamos con toda la información organizada de los pokemons. Ideal para comenzar nuestro Pokedex</p>
				</div>
				<div class="sect__card__img">
					<img src="../resources/img/pokeapi.png" alt="pokeApi">
				</div>	
			</div>
			<div class="sect__jigglyL">
				<img class="sect__jigglyL__img" src="../resources/img/teacher_left.png" alt="jigglypuff">
			</div>
		</section>

		<section class="sect" data-aos="fade-up" data-aos-duration="1000">
			<h4 class="sect__title">Posibilidad de Crecer</h4>
			<p class="sect__text"> Teniendo la estructura del pokedex, esta puede aplicarse a cualquier contenido permitiendo crear apps educativas.</p>
			<h5 class="sect__title">¿Quieres saber más?</h5>
			<div class="sect__card" >
				<div class="sect__card__img">
					<img src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/73.png' alt='poke_img'>
				</div>
				<div clas="sect__card__text">
					<p class="sect__card__text__p">Puedes contactarme completando tus datos. Ir a <a href="contact.html">Sección Contact</a></p>
				</div>	
			</div>
			<div class="sect__jigglyR">
				<img class="sect__jigglyR__img" src="../resources/img/teacher_right.png" alt="jigglypuff">
			</div>
		</section>
	</div>

	
		<asidel class="asidel about_asidel">
			<div class="asidel__logo">
				<img class="asidel__logo__img" src="../resources/img/footer_logo.png" alt="asidel logo">
			</div>
			<div class="asidel__text">
				<p class="asidel__text__p">Many thanks to <a href="https://pokeapi.co/">PokeApi</a> for their amazing work</p>
				<p class="asidel__text__firma">by RGW</p>		
			</div>

			<div class="asidel__pokedex">
				<img class="asidel__pokedex__img" src="resources/img/pokedex.png" alt="pokedex">
			</div>
		</asidel>
	
	</main-->

<!-- FOOTER -->
<footer class="footer">
	<div class="footer__banner footerfix">
		<img class="footer__banner__img" src="../resources/img/footer_banner.png" alt="Pokemon Banner">
	</div>
	<div class="footer__pie">
		<ul class="footer__pie__list">
			<li class="footer__pie__list__itemball"> 
				<img class="footer__pie__list__itemball__img" src="../resources/img/miniball.png">
			</li>
			<li class="footer__pie__list__item">
				<img class="footer__pie__list__item__img" src="../resources/img/face.svg">
			</li>
			<li class="footer__pie__list__item">			
				<img class="footer__pie__list__item__img" src="../resources/img/insta.svg">
			</li>
			<li class="footer__pie__list__item">
				<img class="footer__pie__list__item__img" src="../resources/img/github.svg">
			</li>
			<li class="footer__pie__list__item">
				<img class="footer__pie__list__item__img" src="../resources/img/linke.svg">
			</li>
			<li class="footer__pie__list__itemball"> 
				<img class="footer__pie__list__itemball__img" src="../resources/img/miniball.png">
			</li>				
		</ul>
	</div>
</footer>
<!-- -->
</div>
</body>
</html>