<!DOCTYPE html>
<html class="home_bg">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Search for any of the 151 original pokemons and find out everything there is to learn about them">
	<meta name="keywords" content="Pokemon, Pokedex, Project">
	<meta name="author" content="Rodrigo González Wilkens">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Lobster&family=VT323&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../resources/css/main.css">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<title>Pokedex Project - Search</title>
</head>
<body>
<div class="wrapper">
	<header class="header day_header" data-aos="top-top">
		<div class="header__logo">
			<h1 class="header__logo__title">Pokedex</h1>
			<h4 class="header__logo__firma">by RGW</h4>
			<div class="header__logo__ball">
				<img class="header__logo__ball__img" id="poke_logo" src="../resources/img/pokedex.png" alt="Logo">
			</div>	
		</div>
		<nav class="navflex">
			<a class="navflex__link" href="../index.html">
				<img class="navflex__link__wiggler" src="../resources/img/minilogo1.png" alt="Icon">
				<h3 class="navflex__link__text">Home</h3>
			</a>
			<a class="navflex__link" href="pokedex.html">
				<img class="navflex__link__wiggler" src="../resources/img/minilogo2.png" alt="Icon">
				<h3 class="navflex__link__text">Pokedex</h3>
			</a>
			<a class="navflex__link" href="quiz.html">
				<img class="navflex__link__wiggler" src="../resources/img/minilogo3.png" alt="Icon">
				<h3 class="navflex__link__text">Quiz</h3>
			</a>
			<a class="navflex__link" href="about.html">
				<img class="navflex__link__wiggler" src="../resources/img/minilogo4.png" alt="Icon">
				<h3 class="navflex__link__text">About</h3>
			</a>
			<a class="navflex__link" href="contact.html">
				<img class="navflex__link__wiggler" src="../resources/img/minilogo5.png" alt="Icon">
				<h3 class="navflex__link__text">Contact</h3>
			</a>	
		</nav>
	</header>
	<main>
		<section>
			<h2>Instrucciones :</h2>
			<p class="accent">¿Qué puedes hacer?</p>
			<ol>
				<li>Busca con una Id, puede ser de 1 a 151</li>
				<li>Click en buscar</li>
				<li>Navega por la información</li>
			</ol>
			<p class="accent">¿Qué más puedo hacer?</p>
			<ul>
				<li>Puedes ver las evoluciones haciendo click en cada ícono</li>
				<li>Estudiar para tomar el Quiz</li>
				<li>Contactarme para hacerme saber si algo está mal o contribuir</li>
			</ul>
		</section>
		<section class="pokecard_section">
			<div class="pokecard_flex_div">
				<div id="img_card">
					<h2>#76 Golem</h2>
					<div class="img_container flex">
						<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/76.png" alt="poke_card_img">
					</div>
				</div>
				<div id="general_info">
					<h3>Info:</h3>
					<p>Its boulder-like body is extremely hard. It can easily withstand dynamite blasts without damage.</p>
				</div>
			</div>
			<h3 class="general_info_title">General Info:</h3>
			<div class="flex_responsive">
				<div class="flex info_box">
					<h4>Habitat:</h4>
					<p>Mountain</p>
				</div>
				<div class="flex info_box">
					<h4>Shape:</h4>
					<p>Humanoid</p>
				</div>
				<div class="flex info_box">
					<h4>Type:</h4>
					<p>Rock - Ground</p>
				</div>
			</div>
			<h3 class="general_info_title">Evo Path:</h3>
			<div id="evo_path_div" class="flex">
				<div class="flex evo_box">
					<h4>#74 Geodude</h4>
					<div><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/74.png" alt="evo_img"></div>
				</div>
				<div class="flex evo_box">
					<h4>#75 Graveler</h4>
					<div><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/75.png" alt="evo_img"></div>
				</div>
				<div class="flex evo_box">
					<h4>#76 Golem</h4>
					<div><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/76.png" alt="evo_img"></div>
				</div>
			</div>
		</section>
	</main>
	<aside>
		<section>
			<h3 class="general_info_title">List of moves:</h3>
			<div class="flex_moves">
				<p class='move'>mega-punch</p>
				<p class='move'>fire-punch</p>
				<p class='move'>thunder-punch</p>
				<p class='move'>mega-kick</p>
				<p class='move'>headbutt</p>
				<p class='move'>tackle</p>
				<p class='move'>body-slam</p>
				<p class='move'>take-down</p>
				<p class='move'>double-edge</p>
				<p class='move'>roar</p>
				<p class='move'>flamethrower</p>
				<p class='move'>hyper-beam</p>
				<p class='move'>submission</p>
				<p class='move'>counter</p>
				<p class='move'>seismic-toss</p>
				<p class='move'>strength</p>
				<p class='move'>rock-throw</p>
				<p class='move'>earthquake</p>
				<p class='move'>fissure</p>
				<p class='move'>dig</p>
				<p class='move'>toxic</p>
				<p class='move'>rage</p>
				<p class='move'>mimic</p>
				<p class='move'>double-team</p>
				<p class='move'>harden</p>
				<p class='move'>defense-curl</p>
				<p class='move'>bide</p>
				<p class='move'>metronome</p>
				<p class='move'>self-destruct</p>
				<p class='move'>fire-blast</p>
				<p class='move'>explosion</p>
				<p class='move'>rest</p>
				<p class='move'>rock-slide</p>
				<p class='move'>substitute</p>
				<p class='move'>snore</p>
				<p class='move'>curse</p>
				<p class='move'>protect</p>
				<p class='move'>mud-slap</p>
				<p class='move'>sandstorm</p>
				<p class='move'>endure</p>
				<p class='move'>rollout</p>
				<p class='move'>swagger</p>
				<p class='move'>fury-cutter</p>
				<p class='move'>attract</p>
				<p class='move'>sleep-talk</p>
				<p class='move'>return</p>
				<p class='move'>frustration</p>
				<p class='move'>magnitude</p>
				<p class='move'>dynamic-punch</p>
				<p class='move'>hidden-power</p>
				<p class='move'>sunny-day</p>
				<p class='move'>ancient-power</p>
				<p class='move'>rock-smash</p>
				<p class='move'>facade</p>
				<p class='move'>focus-punch</p>
				<p class='move'>nature-power</p>
				<p class='move'>superpower</p>
				<p class='move'>brick-break</p>
				<p class='move'>secret-power</p>
				<p class='move'>mud-sport</p>
				<p class='move'>rock-tomb</p>
				<p class='move'>iron-defense</p>
				<p class='move'>block</p>
				<p class='move'>rock-blast</p>
				<p class='move'>gyro-ball</p>
				<p class='move'>natural-gift</p>
				<p class='move'>fling</p>
				<p class='move'>sucker-punch</p>
				<p class='move'>rock-polish</p>
				<p class='move'>focus-blast</p>
				<p class='move'>earth-power</p>
				<p class='move'>giga-impact</p>
				<p class='move'>rock-climb</p>
				<p class='move'>iron-head</p>
				<p class='move'>stone-edge</p>
				<p class='move'>captivate</p>
				<p class='move'>stealth-rock</p>
				<p class='move'>smack-down</p>
				<p class='move'>heavy-slam</p>
				<p class='move'>round</p>
				<p class='move'>incinerate</p>
				<p class='move'>bulldoze</p>
				<p class='move'>steamroller</p>
				<p class='move'>confide</p>
				<p class='move'>power-up-punch</p>	
			</div>
		</section>
	</aside>
	<footer class="day_footer flex">
		<div id="footer_logo">
			<img src="../resources/img/footer_logo.png" alt="logo_footer">
		</div>
		<div class="footer_section">
			<p>Author: Rodrigo González Wilkens</p>
			<p id="copyrights">no copyright infringement intended</p>
		</div>
	</footer>
</div>
</body>
</html>
