<!DOCTYPE html>
<html class="night_bg">
<head>
	<meta charset="utf-8">
	<title>Pokedex</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Lobster&family=VT323&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css">
</head>
<body>
<div class="grid">
	<header class="night_header">
		<div id="header_logo">
			<h1>Quiz</h1>
			<h4 id="firma">by RGW</h4>
			<div>
				<img id="poke_logo" src="../resources/img/pokeball2.png" alt="Logo">
			</div>	
		</div>
		<nav class="flex">
			<a class="flex" href="../index.html">
				<img class="wiggler" src="../resources/img/minilogo1.png" alt="Icon">
				<h3>Home</h3>
			</a>
			<a class="flex" href="pokedex.html">
				<img class="wiggler" src="../resources/img/minilogo2.png" alt="Icon">
				<h3>Pokedex</h3>
			</a>
			<a class="flex" href="quiz.html">
				<img class="wiggler" src="../resources/img/minilogo3.png" alt="Icon">
				<h3>Quiz</h3>
			</a>
			<a class="flex" href="about.html">
				<img class="wiggler" src="../resources/img/minilogo4.png" alt="Icon">
				<h3>About</h3>
			</a>
			<a class="flex" href="contact.html">
				<img class="wiggler" src="../resources/img/minilogo5.png" alt="Icon">
				<h3>Contact</h3>
			</a>	
		</nav>
	</header>
	<main>
		<section>
			<div class="quiz_div">
				<div class="quiz_question">
					<p>¿Preguntas cuyas respuestas pueden verse?</p>
					<div class="quiz_answer">
						<button>Ver respuesta</button>
						<div id="answer_1">
							<p>Esta es la respuesta!</p>
						</div>
					</div>
				</div>	
			</div>
			<div class="quiz_div">
				
			</div>
			<div class="quiz_div">
				
			</div>
			<div class="quiz_div">
				
			</div>
		</section>
	</main>
	<aside>
		<section>
			<h4>Aside Section</h4>
			<p>Projecto final para CoderHouse, desarrollo Web</p>
			<p>Rodrigo González Wilkens</p>
		</section>
	</aside>
	<footer class="night_footer flex">
		<div id="footer_logo">
			<img src="../resources/img/footer_logo.png" alt="logo_footer">
		</div>
		<div class="footer_section">
			<p>Author: Rodrigo González Wilkens</p>
			<p id="copyrights">no copyright infringement intended</p>
		</div>
	</footer>
</div>
</body>
</html>