.sectionX {
    @extend .section;
    background: none;
}

/* corrección para las Cards en sections */
@mixin aboutTitles {
    padding: 2rem;
    font-size: 2rem;
}
.about {
    &__first {
        background-color: #389ee9e6;
        & h2 {
           @include aboutTitles; 
        }
        &__imgLeft {
            left: -139px;
        }
    }
    &__second {
        height: 340px;
        &__mainBlock {
            padding: 1rem;
            &__title {
                position: relative;
                font-family: $title2;
                font-size: 2rem;
                margin-bottom: 1rem;
            }
            & p {
                font-size: 1.2rem;
            } /*algo con la cascada me toma otro valor */
            &__text {
                position: relative;
                font-family: $normal;
                background-color: white;
                border-radius: 7px;
                padding: 2rem 0.5rem;
                height: 200px;
            }
            &__img {
                position: relative;
                width: 80px;
                height: 0px;
                align-self: baseline;
                bottom: 40px;
                z-index: 2;
                img {width:100%;}
            }
        }
        &__subBlock {
            display: none;
            padding: 1rem;
            background-color: green;
            & #textUp {
                display: block;
                background-color: white;
                border-radius: $borderRadius;
                font-size: 1rem;
                padding: 1rem 3rem;
                transition: $slowTransition;
                text-align: initial;
                line-height: 22px;
            }
            &__img {
                width: 70%;
                margin: 2rem auto;
                transition: $mediumTransition;
                & img {width: 100%;}
            }
            &__textDown {
                @extend #textUp;
                transition: $verySlowTransition;
                
            }
        }
        &:hover .about__subBlock {
            display: flex;
            & #textUp {
                position: relative;
                animation-name: showFromRight;
                animation-duration: .8s;
            }
            &__img {
                animation-name: showUp;
				animation-duration: 3s;
            }
            &__textDown {
                position: relative;
                animation-name: showFromRight;
                animation-duration: 1.2s;
            }
        }
    }
}
.only {
    &__first {
        background-color: #00600ee6;
        & h2 {
            @include aboutTitles; 
        }
        &__imgRight {

        }
    }
    &__second {
        @extend .about__second;
        background-color: #82bd82;
        &__mainBlock{
            @extend .about__second__mainBlock;
            &__title {
                @extend .about__second__mainBlock__title;
            }
            &__text {
                @extend .about__second__mainBlock__text;
            }
            &__img {
                @extend .about__second__mainBlock__img;
                align-self: end;
                & img {width: 100%;}
            }
        }
        &__subBlock {
            
        }
    }
}
.what {
    &__first {
        background-color: #9f8663e6;
        & h2 {
            @include aboutTitles; 
        }
        &__imgLeft {
            bottom: 178px;
            left: -35px;
        }
    }
    &__second {
        @extend .about__second;
        background-color: #ccffee;
        &__mainBlock{
            @extend .about__second__mainBlock;
            &__title {
                @extend .about__second__mainBlock__title;
            }
            &__text {
                @extend .about__second__mainBlock__text;
            }
            &__img {
                @extend .about__second__mainBlock__img;
                align-self: baseline;
                & img {width: 100%;}
            }
        }
        &__subBlock {

        }
    }
}
.grow {
    &__first {
        background-color: #9b8260e6;
        & h2 {
            @include aboutTitles; 
        }
        &__imgLeft {
            bottom: 165px;
            left: -36px;
        }
    }
    &__second {
        @extend .about__second;
        background-color: #b9ab9b;
        &__mainBlock{
            @extend .about__second__mainBlock;
            &__title {
                @extend .about__second__mainBlock__title;
            }
            &__text {
                @extend .about__second__mainBlock__text;
            }
            &__img {
                @extend .about__second__mainBlock__img;
                align-self: auto;
                bottom: 47px;
                & img {width: 100%;}
            }
        }
        &__subBlock {

        }
    }
}



/* about Cards Colors */
