.sectionX {
    @extend .section;
    background: none;
}

/* corrección para las Cards en sections */
@mixin aboutTitles {
    padding: 2rem;
    font-size: 2rem;
}
/* bg color para subblocks, problemas con la cascada */
#aboutSubBlock {
    background-color: #4e65c7;
}
#onlySubBlock {
    background-color: #0c4e0f;
}
#whatSubBlock {
    background-color: #0c3d4e;
}
#growSubBlock {
    background-color: #5c698b;
}

.about {
    &__first {
        background-color: #389ee9e6;
        & h2 {
           @include aboutTitles; 
           @include tablet {
               font-size: 3rem;
           }
           @include square_pc {
               font-size: 4rem;
           }
        }
        &__imgLeft {
            left: -139px;
            @include square_pc {
                left: -139px;
                bottom: 80px;
            }
        }
    }
    &__second {
        height: 340px;
        &__mainBlock {
            padding: 1rem;
            &__title {
                position: relative;
                font-family: $title2;
                font-size: 2rem;
                margin-bottom: 1rem;
                @include square_pc {
                    font-size: 3rem;
                }
            }
            & p {
                font-size: 1.2rem;
                @include tablet {
                    padding: 2rem 4rem;
                    width: 460px;
                }
                @include square_pc {
                    padding: 1rem;
                }
                @include wide_pc {
                    padding: 2rem 2rem;
                    width: 450px;
                }
            } /*algo con la cascada me toma otro valor */
            &__text {
                position: relative;
                font-family: $normal;
                background-color: white;
                border-radius: 7px;
                padding: 2rem 0.5rem;
                height: 200px;
            }
            &__img {
                position: relative;
                width: 80px;
                height: 0px;
                align-self: baseline;
                bottom: 40px;
                z-index: 2;
                @include square_pc {
                    width: 120px;
                    bottom: 50px;
                }
                img {width:100%;}
            }
        }
        &__subBlock {
            display: none;
            padding: 1rem;
            background-color: green;
            & #textUp {
                display: block;
                background-color: white;
                border-radius: $borderRadius;
                font-size: 1rem;
                padding: 1rem 3rem;
                transition: $slowTransition;
                text-align: initial;
                line-height: 22px;
                position: relative;
                animation-name: showFromRight;
                animation-duration: .8s;
                @include square_pc {
                    padding: 1rem 2rem;
                }
            }
            &__img {
                position: relative;
                width: 70%;
                margin: 2rem auto;
                transition: $mediumTransition;
                animation-name: showFromRight;
                animation-duration: 1.2s;
                & img {
                    position: relative;
                    width: 100%;
                    transition: $mediumTransition;
                    animation-name: showFromRight;
                    animation-duration: 1.2s;
                }
                @include square_pc {
                    margin: .5rem auto;
                }
            }
            &__textDown {
                @extend #textUp;
                transition: $verySlowTransition;
                animation-duration: 1.5s;
                
            }
        }
        &:hover .about__subBlock {
            display: flex;
        }
    }
}
.only {
    &__first {
        background-color: #00600ee6;
        & h2 {
            @include aboutTitles; 
            @include square_pc {
                font-size: 4rem;
            }
        }
        &__imgRight {

        }
    }
    &__second {
        @extend .about__second;
        background-color: #82bd82;
        &__mainBlock{
            @extend .about__second__mainBlock;
            &__title {
                @extend .about__second__mainBlock__title;
            }
            &__text {
                @extend .about__second__mainBlock__text;
            }
            &__img {
                @extend .about__second__mainBlock__img;
                align-self: end;
                & img {width: 100%;}
            }
        }
        &__subBlock {
            @extend .about__second__subBlock;
            & p {
                @extend #textUp;
                animation-duration: .9s;
                margin-bottom: 2rem;
            }
            &__img {
                @extend .about__second__subBlock__img;
                & img {
                    position: relative;
                    width: 100%;
                    transition: $mediumTransition;
                    animation-name: showFromRight;
                    animation-duration: 1.2s;
                    @include square_pc {
                        margin: .5rem auto;
                    }
                }
            }
            &__textDown {
                @extend #textUp;
                transition: $verySlowTransition;
                animation-duration: 1.5s;
            }
            &:hover .only__subBlock {
                display: flex;
            }
        }
    }
}
.what {
    &__first {
        background-color: #9f8663e6;
        & h2 {
            @include aboutTitles; 
            @include square_pc {
                font-size: 4rem;
            }
        }
        &__imgLeft {
            bottom: 178px;
            left: -35px;
        }
    }
    &__second {
        @extend .about__second;
        background-color: #ccffee;
        &__mainBlock{
            @extend .about__second__mainBlock;
            &__title {
                @extend .about__second__mainBlock__title;
            }
            &__text {
                @extend .about__second__mainBlock__text;
            }
            &__img {
                @extend .about__second__mainBlock__img;
                align-self: baseline;
                & img {width: 100%;}
            }
        }
        &__subBlock {
            @extend .about__second__subBlock;
            & p {
                @extend #textUp;
                animation-duration: .9s;
            }
            &__img {
                @extend .about__second__subBlock__img;
                & img {
                    position: relative;
                    width: 100%;
                    transition: $mediumTransition;
                    animation-name: showFromRight;
                    animation-duration: 1.2s;
                    @include square_pc {
                        margin: .5rem auto;
                    }
                }
            }
            &__textDown {
                @extend #textUp;
                transition: $verySlowTransition;
                animation-duration: 1.5s;
            }
            &:hover .what__subBlock {
                display: flex;
            }
        }
    }
}
.grow {
    &__first {
        background-color: #2e338fe6;
        & h2 {
            @include aboutTitles; 
            @include square_pc {
                font-size: 4rem;
            }
        }
        &__imgLeft {
            bottom: 165px;
            left: -36px;
        }
    }
    &__second {
        @extend .about__second;
        background-color: #c5c5c5;
        &__mainBlock{
            @extend .about__second__mainBlock;
            &__title {
                @extend .about__second__mainBlock__title;
            }
            &__text {
                @extend .about__second__mainBlock__text;
            }
            &__img {
                @extend .about__second__mainBlock__img;
                align-self: auto;
                bottom: 47px;
                & img {width: 100%;}
            }
        }
        &__subBlock {
            @extend .about__second__subBlock;
            & p {
                @extend #textUp;
                animation-duration: .9s;
            }
            &__img {
                @extend .about__second__subBlock__img;
                position: relative;
                height: 100px;
                bottom: 100px;
                z-index: 2;
                left: 160px;
                & img {
                    @keyframes showOak {
                        0% {left: 120vw;}
                        100% {left: 160px;}
                    }
                    position: relative;
                    width: 100%;
                    transition: $mediumTransition;
                    animation-name: showOak;
                    animation-duration: 1.2s;
                    @include square_pc {
                        margin: .5rem auto;
                    }
                }
            }
            &__textDown {
                @extend #textUp;
                transition: $verySlowTransition;
                animation-duration: 1.5s;
            }
            &:hover .grow__subBlock {
                display: flex;
            }
        }
    }
}



/* about Cards Colors */
