

#accordionFlushExample {
	@include tablet {
		margin-right:1rem;
		max-width: 335px;
	}
	@include wide_pc {
		margin-right: 0px;
		max-width: 400px;
	}
}
#accordion_1, #accordion_2, #accordion_3 {
	@include wide_pc {
		font-size: 1.2rem;
	}
}
#accordion_1 {
	font-family: $normal;
	background-color: $mainbg;
    color: #ffffff;
}
#accordion_2 {
	font-family: $normal;
	background-color: #c3c3c3;
	color: $black-color;
}
#accordion_3 {
	color: #ffffff;
	font-family: $normal;
	background-color: #501c87;
}


.accordion-button:not(.collapsed){
	color: black;
	background-color: $white-color;
}


.accordion-button:focus {
	border-color: #091353;
	box-shadow: 0px 0px 6px #091353;
}


.accordion-item {
	border: none;
}


.accordion-body {
	color: $black-color;
	background-color: $light;
}