

#accordionFlushExample {
	box-shadow: 0px 0px 8px #091353;
	width: 100%;
	@include tablet {
	}
	@include wide_pc {
		
	}
}

/*#accordion_1, #accordion_2, #accordion_3 {
	font-size: 1.3rem;
	@include wide_pc {
		font-size: 1.2rem;
	}
}*/
#accordion_1 {background-color: $mainbg; color: white;}
#accordion_2 {background-color: #c3c3c3;}
#accordion_3 {font-family: $normal;}

.accordion-button p {
	font-size: 1.3rem;
	@include tablet {
		text-align: center;
		width: 100%;
		font-size: 1.8rem;
	}
}
.accordion-button:not(.collapsed){color: black;background-color: $white-color;}


.accordion-button:focus {
	border-color: #091353;
	box-shadow: 0px 0px 6px #091353;
}

.accordion-button:not(.collapsed)::after {
	background: url('../img/arrow_down.svg');
	transform:  rotate(-180deg);
}
.accordion-button::after {
	background: url('../img/arrow_down.svg');
}


.accordion-item {
	font-size: 1.3rem;
	border: none;
	font-family: $normal;
	
}


.accordion-body {
	color: $black-color;
	background-color: #fff1df;
	@include tablet {
		padding: 30px 280px;
		font-size: 1.5rem;
	}
}