@mixin aside {
	font-family: $normal;
	background-color: $mainbg;
	width:100vw;
	height: 100px;
	display: flex;
	flex-flow: row;
	box-shadow: 0px 0px 19px #9d84b7;
	margin: 2rem 0px;
    @include wide_pc {
    	height: 120px;
    }
}
/* Colores para otras páginas */
@mixin about_colors_section {
	background-color: #102436;
}
@mixin about_colors_text {
	background-color: #adadad;
}
.asidel {
	@include aside;
	@include about_colors_section;
	border-start-start-radius: 86px;
    border-end-start-radius: 72px;
	@include square_pc {
		align-items: center;
	}
	&__logo {
		width: 52%;
    	max-width: 100px;
    	@include wide_pc {
    		max-width: 120px;
    	}
		&__img {
			width: 100%;
		}
	}
	&__text {
		display: flex;
	    flex-flow: column;
	    align-items: initial;
	    justify-content: space-around;
		width: auto;
		min-width: 190px;
		max-width: 90%;
		background-color: $secbg;
		@include about_colors_text;
		margin: .7rem;
		padding: .4rem;
		border-radius: 7px;
		@include tablet {
			display: flex;
			flex-flow: column;
			justify-content: center;
			max-width: 50%
		}
		@include square_pc {
			width:100%;
			max-width: 100%;
			height: 60px;
			flex-flow: row;
			align-items: center;
			justify-content: space-evenly;
		}
		@include wide_pc {
			margin: .6rem;
		}
		&__p {
			color: $mainbg;
			width: 200px;
			height: 63px;
			font-size: 1.3rem;
			padding: 1rem;
			padding-bottom: 0px;
			font-weight: $light-bold;
			margin: 0;
			line-height: 20px;
			@include medium_mobile {
			}
			@include tablet {
				font-size: 1.5rem;
			}
			@include square_pc {
				width: 600px;
				height: auto;
				padding: 0px;
				font-size: 1.7rem;
			}
			@include wide_pc {
				font-size: 2rem;
			}
		}
		&__firma {
			font-family: $special;
			text-align: right;
			margin: 0;
			font-size: 1.7rem;
			padding: 0px 1rem;
			@include tablet {
				font-size: 1.9rem;
			}
			@include square_pc {
				font-size: 2.3rem;
			}
			@include wide_pc {
				font-size: 2.3rem;
			}
		}
	}
	&__pokedex {
		display: none;
	}
}

.asider {
	@include aside;
	@include about_colors_section;
	border-end-end-radius: 86px;
    border-start-end-radius: 72px;
    justify-content: end;
    @include square_pc {
		align-items: center;
    }
	&__logo {
		@extend .asidel__logo;
		&__img {
			width: 100%;
		}
	}
	&__text {
		@extend .asidel__text;
		&__p {
			@extend .asidel__text__p;
		}
		&__firma {
			@extend .asidel__text__firma;
		}
	}
	&__pokedex {
		@extend .asidel__pokedex;
	}
}
.asider__text__p a, .asidel__text__p a {
	color: $lightbg;
	text-decoration: none;
}

.about_asider {
	background: rgb(16,36,54);
	background: linear-gradient(270deg, rgba(16,36,54,1) 0%, rgba(16,36,54,0.7259278711484594) 48%, rgba(7,103,2,0.20211834733893552) 100%);
}
.about_asidel {
	background: rgb(16,36,54);
	background: linear-gradient(90deg, rgba(16,36,54,1) 0%, rgba(16,36,54,0.7259278711484594) 48%, rgba(7,103,2,0.20211834733893552) 100%);
}