/* WELCOME */

.formWelcome {
	$mainColor: white;
	$sectionWidth: 300px;
	width: $sectionWidth;
	margin: 40px 10px;
	&__up {
		padding: 1rem;
		margin-bottom: 3rem;
		&__title {
			font-family: $title2;
			color: $mainColor;
			font-size: 1.6rem;
			border-bottom: 2px solid $mainColor;
			margin-bottom: 4rem;
		}
		&__info {
			display: flex;
			flex-flow: row;
			&__profile {
				width: 160px;
				& img {width: 100%;}
			}
			&__div {
				flex-flow:column;
				margin-top: 10px;
				&__text {
					font-family: $special;
					color: $mainColor;
					&:first-child {
						width: 145px;
						text-align: left;
						font-size: 1.3rem;
						margin-bottom: 9px;
						padding-bottom: 9px;
						border-bottom: 1px solid $mainColor;
					}
					&:last-child {
						text-align: left;
						margin-top: 9px;
					}
				}	
			}
		}
	}
	&__down {
		padding: 1rem;
		&__imgRow {
			margin: 1rem 0px 4rem 0px;
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			border-top: 1px solid $mainColor;
			border-bottom: 1px solid $mainColor;
			& img {
				width: 18%;
			}
		}
		&__imgRowDown {
			@extend .formWelcome__down__imgRow;
			margin-top: 7rem;

		}
		&__title {
			font-family: $title2;
			color: $mainColor;
			text-align: left;
			margin: 1rem 0px 3rem 0px;
			font-size: 1.4rem;
		}
		&__text {
			color: $mainColor;
			text-align: left;
			font-family: $special;
			font-size: 1.2rem;
			width: 80%;
			margin: auto;
			line-height: 2rem;
		}
		& div.buttonContainer {
			display: flex;
			justify-content: center;
			margin-top: 1rem;
		}
		&__button {
			float: right;
			display: flex;
			align-items: center;
			margin-top: 1rem;
			background-color: #ffffff00;
    		padding: 0.3rem;
    		border-radius: $borderRadius;
			&__link {
				display: inline;
				text-decoration: none;
				color: $mainColor;
				margin-right: .3rem;
			}
			&__img {
				display: flex;
				align-items: center;
				width: 20px;
				& img {width: 100%;}
			}

		}
	}
}

#formJump {
	position: relative;
    bottom: 115px;
    color: #ffffff00;
}

/* FORM */

.formContainer {
	padding: 1rem;
	@include tablet {
		padding: 2rem;
	}
}
.contactForm {
	display: flex;
	flex-flow: column;
	margin:  auto;
	min-width: 280px;
    width: 100%;
    max-width: 340px;
    @include tablet {
    	max-width: 460px;
    }
	&__field {
		margin: auto;
		min-width: 278px;
    	padding: 0.3rem;
    	@include tablet {
    		width: 100%;
    	}
	}
	&__title {
		font-family: $title2;
		color: white;
		animation-name: lightChange;
		animation-duration: 1.25s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
	&__formSection {
		display: flex;
		flex-flow: column;
		margin-bottom: 1.3rem;
		@include tablet {
			margin: 2.5rem;
		}
		&__input {
			padding: .4rem;
			margin:  auto 10px;
		}
	}
}
.contactForm__formSection label, input {
	font-family: $normal;
	text-align: left;
	margin-bottom: .3rem;
}
.contactForm__formSection label {
	color: white;
	padding-left: 1rem;
}
.contactForm__formSection:last-child label {
	text-align: center;
}
#contribute {height: 30px; width: 30px; margin: auto;}

.formEnd_contact {	
	margin-top: 1rem;
	&__input {
		padding: .3rem;
	}
	&__button {
		padding: .3rem;
	}
}
