.wideFlex {
	@include square_pc {
		display: flex;
		flex-flow: row-reverse;
		margin: auto 1rem;
	}
	@include wide_pc {
		max-width: 1440px;
		margin:1rem auto;
	}
}

/* WELCOME */
.formWelcome {
	$mainColor: white;
	$sectionWidth: 300px;
	width: $sectionWidth;
	margin: 40px auto;
	@include mediumMobile {
		$sectionWidth: 370px;
		width: $sectionWidth;
	}
	@include tablet {
		width: 600px;
	}
	@include square_pc {
		width: 470px;
	}
	@include wide_pc {
		width: 600px;
	}
	&__up {
		margin-bottom: 3rem;
		&__title {
			font-family: $title2;
			color: $mainColor;
			font-size: 1.6rem;
			border-bottom: 2px solid $mainColor;
			margin-bottom: 4rem;
			@include mediumMobile {
				text-align: center;
			}
			@include tablet {
				font-size: 2.6rem;
			}
		}
		&__info {
			display: flex;
			flex-flow: row;
			&__profile {
				width: 160px;
				@include tablet {
					width: 240px;
				}
				& img {width: 100%;}
			}
			&__div {
				flex-flow:column;
				margin-top: 10px;
				@include mediumMobile {
					margin: 10px auto 0px 25px;
				}
				&__text {
					font-family: $special;
					color: $mainColor;
					&:first-child {
						width: 145px;
						text-align: left;
						font-size: 1.3rem;
						margin-bottom: 9px;
						padding-bottom: 9px;
						border-bottom: 1px solid $mainColor;
						@include tablet {
							font-size: 1.8rem;
							width: 258px;
						}
					}
					&:last-child {
						text-align: left;
						margin-top: 9px;
						@include tablet {
							font-size: 1.3rem;
							width: 300px;
						}
					}
				}	
			}
		}
	}
	&__down {
		&__imgRow {
			width: 100%;
			margin: 1rem 0px 4rem 0px;
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			border-top: 1px solid $mainColor;
			border-bottom: 1px solid $mainColor;
			& img {
				width: 18%;
			}
		}
		&__imgRowDown {
			@extend .formWelcome__down__imgRow;
			margin-top: 7rem;

		}
		&__title {
			font-family: $title2;
			color: $mainColor;
			text-align: left;
			margin: 1rem 0px 3rem 0px;
			font-size: 1.4rem;
			@include mediumMobile {
				text-align: center;
			}
			@include tablet {
				font-size: 2.3rem;
			}
		}
		&__text {
			color: $mainColor;
			text-align: left;
			font-family: $special;
			font-size: 1.2rem;
			width: 80%;
			margin: auto;
			line-height: 2rem;
			@include mediumMobile {
				text-align: center;
				margin-bottom:40px;
			}
			@include tablet {
				font-size: 1.6rem;
				line-height: 4rem;
			}
		}
		& div.buttonContainer {
			display: flex;
			justify-content: center;
			margin-top: 1rem;
			@include square_pc {
				display: none;
			}
		}
		&__button {
			position: relative;
			float: right;
			bottom: 10px;
			left: 10px;
			display: flex;
			align-items: center;
			background-color: #ffffff00;
    		padding: 0.3rem;
    		border-radius: $borderRadius;
			@include mediumMobile {
				
    			bottom: 10px;
			}
			@include tablet {
				padding: .5rem;
			}
			@include square_pc {
				display: none;
			}
			&__link {
				display: inline;
				text-decoration: none;
				color: $mainColor;
				margin-right: .3rem;
				@include tablet {
					font-size: 1rem;
				}
			}
			&__img {
				display: flex;
				align-items: center;
				width: 20px;
				& img {width: 100%;}
			}

		}
	}
}

#formJump {
	position: relative;
    bottom: 115px;
    color: #ffffff00;
}

/* FORM */

.formContainer {
	padding: 1rem;
	@include tablet {
		padding: 2rem;
	}
	@include wide_pc {
		margin: 1rem auto;
	}
}
.contactForm {
	display: flex;
	flex-flow: column;
	margin:  auto;
	min-width: 280px;
    width: 100%;
    max-width: 340px;
    @include tablet {
    	max-width: 460px;
    }
	@include square_pc {
		width:490px;
		max-width: 490px;
	}
	@include wide_pc {
		width: 550px;
		max-width: 550px;
		margin: auto;
	}
	&__field {
		margin: .2rem;
		min-width: 278px;
    	padding: 0.3rem;
    	@include tablet {
    		width: 100%;
    	}
	}
	&__title {
		font-family: $title2;
		color: white;
		animation-name: lightChange;
		animation-duration: 1.25s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
	&__formSection {
		display: flex;
		flex-flow: column;
		margin-bottom: 1.3rem;
		@include tablet {
			margin: 2.5rem;
		}
		&__input {
			padding: .4rem;
			margin:  auto 10px;
		}
	}
}
.contactForm__formSection label, input {
	font-family: $normal;
	text-align: left;
	margin-bottom: .3rem;
}
.contactForm__formSection label {
	color: white;
	padding-left: 1rem;
}
.contactForm__formSection:last-child label {
	text-align: center;
}
#contribute {height: 30px; width: 30px; margin: auto;}

.formEnd_contact {	
	margin-top: 1rem;
	&__input {
		padding: .3rem;
	}
	&__button {
		padding: .3rem;
	}
}
