.footer {
	width:  100%;
	&__banner {
		width: 100%;
		max-width: 610px;
		margin: auto; 
		@include tablet {
			border:  2px solid #09135352;
			border-bottom: none;
			border-start-start-radius: 160px;
			border-start-end-radius:  160px;
			/*background: url('../img/home_bg.png');*/
			background-size: contain;
			box-shadow: 0px -9px 42px #ffffff;
    		background-color: #45a7ff4a;

		}
		&__img {
			width: 100%;
		}
	}
	&__pie {
		position: relative;
		z-index: 2;
		width: 100%;
    	padding: .5rem;
		background-color: #a7a6a6;
   		border-top-left-radius: 7px;
    	border-top-right-radius: 7px;
    	border-top: 1px solid #091353;
    	box-shadow: 0px 1px 18px #f5f5ff;
		&__list {
			display: flex;
			flex-flow: row;
    		justify-content: space-around;
    		margin-bottom: 0;
    		padding: 0;
    		max-width: 430px;
    		margin: auto;
			&__item {
				width: 40px;
				list-style: none;
				margin-right: .6rem;
				&__img {
					width: 100%;
				}
			}
			&__itemball {
				@extend .footer__pie__list__item;
				width: 18px;
    			display: flex;
    			align-items: center;
				&__img {
					width: 100%;
				}
			}
		}
		
	}
}
.footerfix {
	@extend .footer__banner;
	position: relative;
	top: 4px;
	z-index: 1;	
}
.footer_dark {
	background-color:#0b1b2a5c;
}
