.footer {
	display: flex;
	flex-flow: row;
	padding: 0px;
	margin: 20px 0px 0px 0px;
	width: 100vw;
	max-width: 100vw;
	background-color: #101862;
	color: white;
	border-top-left-radius: 46px;
    border-start-end-radius: 56px;
    border-end-end-radius: 42px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 11px;
    justify-content: space-between;
	&__logo {
		width: 80px;
		&__img {
			width: 100%;
		}
	}
	&__textdiv {
		padding: 0 1rem;
		&__text {
			font-family: $normal-font;
			margin-bottom: 0px;
		}
		&__copyrights {
			font-family: $special-font;
			font-size: 1rem;
			text-align: center;
   		 	color: white;
   		 	letter-spacing: 2px;
    		padding-left: 1rem;

		}
	}
}