/* HEADER de QUIZ, ABOUT, POKE y CONTACT */

.day_header {
	background: linear-gradient(0deg, #409cec 0%, #5facdef7 35%, #0b072bb8 100%);
    box-shadow: 0px 6px 24px #585c86e0;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
}
.night_header{
	background: linear-gradient(0deg, #21315259 0%, #125179 35%, #010838 100%);
    border-bottom: 1px solid black;
    box-shadow: 3px 3px 3px #00000063;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Solo Header */

.header {
	position: sticky; 
	top: -148px; 
	z-index: 3;
	align-items: center;
	@include tablet {
	    display: flex;
	    flex-flow: row;
	    height: 130px;
	    top: 0;
	    justify-content: space-between;
	}
	&__logo {
		width: 100%;
		color: white;
		max-width: 290px;
	    height: auto;
	    max-height: 116px;
	    margin: auto;
	    margin-bottom: 2rem;
	    @include tablet {
	    	width: 50%;
	    	margin: 0px;
	    }
	    &__title {
	    	position: relative;
	    	font-family: $title2;
	    	font-size: 5rem;
	    	text-align: center;
	    	margin-right: 2rem;
	    	z-index: 2;
	    }
	    &__firma {
	    	position: relative;
	    	font-family: $special;
	    	font-size: 1.8rem;
		    text-align: center;
		    position: relative;
		    left: 47%;
		    bottom: 18px;
		    display: inline;
		    z-index: 2;
		    @include tablet {
		    	text-align: right;
			    position: relative;
			    bottom: 14px;
			    right: 70px;
		    }
	    }
	    &__ball {
	    	width: 96px;
	    	position: relative;
	    	left: 174px;
	    	bottom: 75px;
	    	z-index: 1;
	    	@include tablet {
	    	}
	    	&__img {
	    		width: 100%;
	    	}

	    }
	}
}

/* Clase para el header de Pokedex (es otra imagen y es necesario recalibrar la posición cuando pasa a tablet) */

.pokefix {
	left: 193px;
    bottom: 103px;
	@include tablet {
		left: 248px;
		bottom: 100px;
	}
}
.headerfix {
	margin-bottom: 2.2rem;
	@include tablet {
		margin: 0px 0px 1rem .5rem;
	}
	@include wide_pc {
		margin: 0px 0px 0px 4rem;
	}
}


/* Nav Flex Bar */

.navflex {
	display: flex;
	flex-flow: row;
	padding: 5px 0px 5px 0px;
	justify-content: space-between;
	align-items: center;
	height: 75px;
	width: 92vw;
	margin: auto;
	@include tablet {
		width: 400px;
		margin-right: 1rem;
	}
	&__link {
		display: flex;
		flex-flow: column;
	    align-items: center;
	    justify-content: center;
		max-width: 54px;
		height: 8vh;
		text-decoration: none;
		color: white;
		&__wiggler {
			width: 47%;
			max-width: 60px;
			margin: 2px auto;
			@include tablet {
				width: 52%; 
			}
			@include wide_pc {
				width: 80%;
			}
		}
		&__text {
			font-family: monospace;
			font-size: .9rem;
			text-align: left;
			color: inherit;
			text-shadow: 0px 2px 3px #000000b5;
			position: relative;
			max-width: 60px;
		}
	}
}

.navflex__link:hover .navflex__link__wiggler {
	position: relative;
	-webkit-animation: wiggle 0.5s infinite;
	-moz-animation: wiggle 0.5s infinite;
	animation: wiggle 0.5s infinite;
}
.navflex__link:hover .navflex__link__text {
	text-shadow: 2px 1px 1px #7b4040;
	font-size: 1.1rem;
	position: relative;
	top: 2%
}
.navflex__link:active .navflex__link__wiggler {
	-webkit-animation: wiggle 0.5s infinite;
	-moz-animation: wiggle 0.5s infinite;
	animation: wiggle 0.5s infinite;
}