*{margin: 0px; padding: 0px; box-sizing: border-box;}

html {
	font-size: 62.5%;
	width: 100%; 
	overflow-x: hidden;
}
/* La pifié con el nightBg. Armé todo con fs100% por eso este fix */
.nightBg {font-size: 100%;}
/* Fondos para el Body completo */

.homeBg {background: url('../img/home_bg.png') no-repeat center center fixed;}
.dayBg {background: url('../img/day_bg.png') no-repeat center center fixed;}
.nightBg {background: url('../img/night_bg.png') no-repeat center center fixed;}

.homeBg, .dayBg, .nightBg
{ 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
/*Color para body */
.homeBackground {
	background-color:#d7e9f9;
	/*background: linear-gradient(180deg, #c8a3d5 0%, #091353c2 94%, #091353 100%);*/
}
.sunshineBg {
	background: url(../img/home_bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* wrapper envuelve todo el contenido del body */
.wrapper {
	padding: 0px; overflow-x: hidden; height: 100vh;
}