body {
	background: linear-gradient(180deg, #c8a3d5 0%, #091353c2 94%, #091353 100%);
}
.wrapper {
	padding: 0px; overflow-x: hidden;
}
.sunshine_bg {
	background: url(../img/home_bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.fixed-top {
	top: -1px;
}
.navbar_wrapper {
	max-width: 100vw;
	overflow-x: hidden;
	overflow-y: hidden;
}
.navbar {
	height: 55px;
	background-color: $mainbg;
	padding-top: .3rem;
}
button .navbar-toggler {
	height: 35px;
    display: flex;
    align-items: center;
}
#navbar-title {
	font-size: 2rem;
    color: white;
    font-family: $title2;
    letter-spacing: 6px;
    padding-left: 1rem;
    margin-bottom: 20px;
    max-width: 210px;
    box-shadow: -2px 3px 1px white;
}
.nav-item {
	max-width: 144px;
	&__link {
		font-family: $normal;
		letter-spacing: 2px;
	}
	@include square_pc {
	max-width: 165px;
	}
	&__menudiv {
		width: 40px;
		&__img {
			width: 100%;
		}
	}
	&__link {
		font-size: 1.2rem;
		@include tablet {
			font-size: 1.3rem;
		}
	}
}
.navhead {
	display: flex;
	flex-flow: row;
	&__title {
		color: $white-color;
		font-family: $title1;
		font-size: 2rem;
	}
	&__logo {
		width: 50px;
		position: relative;
    	top: 8px;
    	right: 11px;
		&__img {
			width: 100%;
		}
	}
}
.navbg {
	background: $mainbg;
}


