#header_row {
	background: #889797a6;
}
.header {
	box-shadow: 0px -23px 49px #00000057;
	margin-top: 60px;
	margin-bottom: 20px;
	border-bottom: 4px solid black;
	&__title {
		font-family: $title-font;
		color: green;
		font-size: 5.3rem;
		@include tablet {
			font-size: 7rem;
		}
	}
	&__panel {
		height: 130px;
		background: #889797a6;
		@include tablet {
			height: 23vh;
			max-height: 162px;
		}
	}
	&__firma {
		font-family: $special-font;
		font-size: 1.6rem;
		display: inline-block;
	    position: absolute;
	    top: 138px;
    	left: 194px;
	    @include tablet {
	    	font-size: 2.2rem;
			position: absolute;
    		top: 157px;
    		left: 284px;
	    }
	}
	&__img1div {
		width: 124px;
		display: inline-block;
    	position: absolute;
    	left: 246px;
    	top: 87px;
    	@include tablet {
    		position: absolute;
    		top: 107px;
    		left: 317px;
    	}
    	&__img {
    	width:100%;
    	}
	}
	&__img2div {
		display: none;
		&__img2 {
			width: 100%;
		}
		@include tablet {
			display: inline-block;
			width: 110px;
		}
	}
}

.wrapper {padding: 0px; overflow-x: hidden;}


#carouselExampleInterval {
	height: 180px;
	overflow-y: hidden;
	@include tablet {
		height: 380px;
	}
	@include wide_pc {
		height: 630px;
	}
}




