.sunshine_bg {
	background: url(../img/home_bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}
body {background-color: $light;}
.wrapper {padding: 0px; overflow-x: hidden;}

#div_header {
	width: 100%;
	padding: 0px;
	margin: auto;
	/*background: url("../img/home_bg.png") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
}

.header {
	box-shadow: 0px -23px 49px #00000057;
	margin-top: 48px;
	border-bottom: 4px solid #030364;
	padding: 1rem 1rem 0px 1rem;
	display:  grid;
	grid-template-areas:
	"left left left left rigth right"
	"left left left left rigth right";
	&__divl {
		grid-area: left;
		padding-left: 0.8rem;
		&__title{
			&__h1 {
				font-family: $title1;
				font-size: 4.4rem;
			}
		}
		&__subt {
			display: flex;
    		justify-content: right;
    		padding-right: 30px;
    		position: relative;
    		bottom: 10px;
			&__firma {
				display: inline-block;
				position: relative;
   	 			left: 12px;
			}
			&__imgdiv {
				display: inline-block;
    			position: relative;
    			width: 52px;
    			bottom: 8px;
				&__img {
					width: 100%;
				}
			}
		}
	}
	&__divr {
		grid-area: right;
		display: flex;
		align-items: center;
		&__imgdiv {
			width: 80px;
			&__img {
				width: 100%;
			}
		}
	}
}
#carouselExampleInterval {

	height: 182px;
	overflow-y: hidden;
	border-bottom: 2px solid #030364;
	@include tablet {
		height: 380px;
	}
	@include wide_pc {
		height: 630px;
	}
}
.carousel-item {height: 100%;}
.carousel-item img {
	height: 100%;
}

