/* Generals Pokedex */
$pokedexBg: #7271bab5;
$pokedex2bg: #f5f5ff;
$mobileHeight: 356px;
$mobileWidth: 288px;

@mixin pokedexTitles {
	font-family: $title2;
	text-align: left;
	font-size: 2rem;
	margin-bottom: 1rem;
	padding: .2rem;
	border-bottom:2px solid;
}
@mixin cardOutlines {
	outline: 7px solid $pokedex2bg;
	outline-offset: -4px;

}
@mixin displayHelp {
	@media screen and (min-width: 370px){
		@content;
	}
}
#bigWrapper {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
	
}
.flexWrapper {
	display: flex;
	flex-wrap: wrap;

	justify-content: center;
}

/* Welcome */

.pokeguide {
	@include generalSection;
	width: 65px;
	height: 40px;
	background-color: $pokedexBg;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	transition: .4s;
	@include displayHelp {
		width: 90%;
		height: 260px;
		padding: 1rem;
	}
	@include tablet {
		width: 400px;
	}
	&__help {
		&__title {
			font-family: $title2;
			color: white;
			text-align: center;
			@include tablet {
			}
		}
	}
	&__guide	 {
		position: relative;
		left: $goOut;
		height: 0%;
		transition: .5s;
		@include displayHelp {
			left: 0px;
			height: fit-content;
			padding: 1rem 2rem;
		}
		&__help {
			$font-family: $title2;
			text-align: center;
			font-size: 0px;
			@include displayHelp {
				font-size: initial;
			}
		}
		&__hints {
			& li {
				transition: .8s;
				color: white;
				font-weight: $lightBold;
				padding: .5rem;
				line-height: 0px;
				font-size: 0px;
				@include displayHelp {
					font-size: initial;
					line-height: initial;
				}
			}
			& li:last-child {
				padding: 0px;
			}
		}
	}
	&:hover {
		@include onlyMobile {
			width: 90%;
			height: 100%;
		}	
	}
	&:hover .pokeguide__help {
		&__title {
			@include onlyMobile {
				padding-top: 1rem;
			}	
		}
	}
	&:hover .pokeguide__guide {
		@include onlyMobile {
			height: auto;
			left: 0px;
			padding: 1rem 2rem;
			&__help {
				font-size: initial;
			}
			&__hints {
				& li {
					font-size: initial;
					line-height: initial;
				}
			}
		}	
	}
}

/* Search Bar Id */
.searchBar {
	$barWidth: 290px;
	width: $barWidth;
	@include generalSection;
	margin-right: auto;
	margin-left: auto;
	@include tablet {
		height: 52px;
		margin: auto 1rem;
	}
	&__form {
		width: $barWidth;
		display: flex;
		align-items: center;
		justify-content: initial;
		padding: .3rem;
		background-color: $pokedex2bg;
		@include cardOutlines;
		outline-color: $pokedexBg;
		border: 4px solid $pokedex2bg;
		border-radius: $borderRadius;
		&__label {
			font-family: $normal;
			margin-right: .5rem;
			color: black;
			font-weight: $lightBold;
		}
		&__input {
			margin: 0px .3rem 0px 0px;
			height: 35px;
			padding: .3rem;
			width:80px;
		}
		&__container {
			$width: 35px;
			display: flex;
    		align-items: center;
			position: relative;
			width: $width;
			&__button {
				font-family: $normal;
				background-color: $pokedex2bg;
				border: none;
				border-radius: 16px;
				position: absolute;
				width: 78px;
				padding-left: 0.2rem;
				top: 50%;
				left: 138%;
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				font-size: .8rem;
				font-weight: 700;
				z-index: 2;
				text-align: initial;
			}
			&__img {
				display: inline-block;
				width: $width;
			}
		}
	}

}

/* Pokecard */

.pokecard {
	@keyframes mobileHover {
		0%{bottom:0px;}
		100%{bottom:$mobileHeight;}
	}
	@mixin goUp {
		animation: mobileHover;
		animation-duration: .8s;
		animation-fill-mode: forwards;
	}
	@include generalSection;
	height: $mobileHeight;
	width: $mobileWidth;
	overflow: hidden;
	margin: 2rem auto;
	@include mediumMobile {
		margin: 3rem;
	}
	@include wide_pc {
		margin: 2rem;
	}
	&__mainCard {
		position: relative;
		bottom: 0px;
		padding: 1rem;
		background-color: $pokedexBg;
		height: $mobileHeight;
		transition: .8s;
		@include cardOutlines;
		&__title {
			@include pokedexTitles;
			border-color: $pokedex2bg;
			color: $pokedex2bg;
		}
		&__img {
			width:100%;
			background-color: $pokedex2bg;
			border-radius:$borderRadius;
			& img {width:100%;}
		}
	}	
	&__info {
		position:relative;
		bottom: 0px;
		padding: 1rem;
		background-color: $pokedex2bg;
		height: $mobileHeight;
		transition: .8s;
		@include cardOutlines;
		&__title {
			@extend .pokecard__mainCard__title;
			color: $pokedexBg;
			border-color: $pokedexBg;
		}
		&__text {
			width: 100%;
			height: 260px;
			border-radius:$borderRadius;
			color: $pokedex2bg;
			background-color: $pokedexBg;
			font-family: $special;
			font-size: 1.4rem;
			padding: 1.5rem 2.5rem;
			line-height: 2rem;
		}
	}
	&:hover .pokecard__mainCard {
		 @include goUp;
	}
	&:hover .pokecard__info {
		@include goUp;
	}
}

/* pokeAnexo */

.pokeAnexo {
	$mainColor: #309d45c2;
	$secColor: #f5f5ff;
	@include generalSection;
	padding: 1rem;
	background-color: $mainColor;
	height: $mobileHeight;
	width: $mobileWidth;
	transition: .8s;
	@include cardOutlines;
	margin: 2rem auto;
	@include mediumMobile {
		margin: 3rem;
	}
	@include wide_pc {
		margin: 2rem;
	}
	&__card {
		height: 332px;
		padding: 1rem;
		&__title {
			@include pokedexTitles;
			color: $secColor;
		}
		&__slider {
			$mobileWidth: 224px;
			width: $mobileWidth;
			overflow: hidden;
			margin-bottom: 1rem;
			transition: .8s;
			&__slide {
				@keyframes moveLeft {
					0%{right:0%}
					100%{right:$mobileWidth;}
				}
				position: relative;
				display: flex;
				flex-flow: row;
				width: calc(#{$mobileWidth} * 2);
				&__title {
					width: $mobileWidth;
					text-align: center;
					color: $mainColor;
					background-color: $secColor;
					padding: 1rem;
					
				}
				&__text {
					width: $mobileWidth;
					text-align: center;
					color: $secColor;
					padding: 1rem;
					
					font-weight: 700;
    				letter-spacing: 5px;
				}
				&:hover {
					animation: moveLeft;
					animation-duration: .8s;
					animation-fill-mode: forwards;
				}
			}
		}
	}
}

.evoPath {
	$mainColor: #180e58;
	$secColor: white;
	@include generalSection;
	height: $mobileHeight;
	width: $mobileWidth;
	margin: 2rem auto;
	@include mediumMobile {
		margin: 3rem;
	}
	@include wide_pc {
		margin: 2rem;
	}
	&__card {
		overflow: hidden;
		padding: 1rem;
		background-color: #180e58d6;
		height: $mobileHeight;
		transition: .8s;
		@include cardOutlines;
		&__title {
			@include pokedexTitles;
			position: relative;
			z-index: 2;
			color: $secColor;
		}
		&__evolutions {
			height: 256px;
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: space-evenly;
			&__evo {
				$width: 230px;
				width: $width;
				position: relative;
				z-index: 2;
				width: 230px;
				&__name {
					width: $width;
					color: $mainColor;
					background-color: $secColor;
					padding: 1rem;
					border-radius: $borderRadius;
				}
				&__img {
					position: relative;
					width: 110px;
					height: 0px;
					bottom: 82px;
					left: 149px;
					& img {width: 100%;}
				}
			}
		}
		&__bg {
			position: relative;
			z-index: 1;
			width: 450px;
			height: 0%;
			bottom: 360px;
			& img {width: 100%; opacity: .6}
		}
		
	}
}

.moveList {
	$mainColor: #a566ffc2;
	$secColor: white;
	@include generalSection;
	padding: 1rem;
	background-color: $mainColor;
	height: $mobileHeight;
	width: $mobileWidth;
	transition: .8s;
	@include cardOutlines;
	margin: 2rem auto;
	@include mediumMobile {
		margin: 3rem;
	}
	@include wide_pc {
		margin: 2rem;
	}
	&__title {
		@include pokedexTitles;
		color: $secColor;
	}	
	&__container {
		display: flex;
		flex-flow: wrap;
		height: 256px;
		overflow: scroll;
		&__move {
			flex: 1 1 auto;
			background-color: #fdfdfd96;
			padding: 0.2rem;
			margin: 0.1rem;
		}
	}

}