.rules_section {
	@include tablet {
		flex-flow: column;
		justify-content: center;
		align-items: baseline;
	}
}
.rules {
	display: flex;
	flex-flow: column;
	@include tablet {
		flex-flow: row;
		justify-content: center;
	}
	@include wide_pc {
		margin:auto;	
	}
	&__div {
		
		@include tablet {
			width: 300px;
			margin: 1.5rem;
		}
	}
	&__title {
		text-align: left;
		@include tablet {
			margin-left: 2rem;
		}
	}
	&__question {
		text-align: center;
		margin: 1rem auto;
		font-size: 1.2rem;
	}
	&__list {
		text-align: left;
		&__item {
			list-style-position: inside;
		}
	}
}

.pokecard {
	@include tablet {
		flex-flow:column;
	}
	&__div {
		display: flex;
		flex-flow: column;
		&__card {
			display: flex;
			flex-flow: column;
			@include tablet {
				width:100%;
			}
			&__title {

			}
			&__img {
				width: 100%;
				&__img {
					width: 100%;
				}
			}
		}
		&__info {
			margin: 2rem auto;
			@include tablet {
				width: 80%;
				margin: 0px auto;
			}
			&__title {
				margin-bottom: 2rem;
			}
			&__text {
				font-family: $special;
				border: 2px solid $mainbg;
				background-color: #b1b1b1;
			    border-radius: 14px;
			    padding: 1rem;
			    line-height: 36px;
			    font-size: 1.3rem;
			    @include tablet {
			    	background-color: white;
			    	width: 240px;
					margin: auto;
				    text-shadow: 0px 0px 1px blue;
				    box-shadow: 3px 3px 5px black;
			    }
			}
		}
		&__general {
			display: flex;
			flex-flow: column;
			&__title {
				@extend .pokecard__div__info__title;
			}
			&__minititle {
				width: 80px;
			    margin: 1rem 1rem 1rem 0px;
			    text-align: right;			
			}
			&__p {
				width: 125px;
    			margin: 1rem 0px 1rem 1rem;
			}
			&__sections {
				display: flex;
			    flex-flow: column;
			    border: 2px solid $mainbg;
			    border-radius: 14px;
			    background-color: #79c8f8;
				@include tablet {
					flex-flow: row;
					padding: 1rem;
					max-width: 656px;
				}
				&__div {
					display: flex;
					flex-flow: row;
					justify-content: center;
					border-bottom: 1px solid black;
					&:last-child {
						border: none;
					}
					@include tablet {
						border: none;
						border-right: 2px solid $mainbg;
						width: 190px;
						padding: 1rem;
						flex-flow: column;
						&:last-child {
							border:none;
						}
					}
				}
			}

		}
	}
	&__card {
		flex-flow: row-reverse;
	}

}
.evopath {
	&__title {
		@extend .pokecard__div__info__title; 
		margin-top:  2rem;
	}
	&__container {
		display: flex;
		flex-flow: column;
		@include tablet {
			flex-flow: row;
		}
		&__evo {
			display: flex;
			flex-flow: column;
			&__img {
				width: 60%;
				margin: auto;
			}
		}
	}
	&__img {width: 100%;}
}
.moves_list {
	@include tablet {
		display:flex;
		flex-flow: column;
	}
}
.flex_moves{display: flex; flex-flow: wrap;}
.move {
	background-color: #9bc3e7;
	margin: 2px; 
	flex: 1 0 15%;
	font-size: .8rem;
}
