/* Generals Pokedex */



/* Welcome */

.pokeguide {
	@include generalSection;
	width: 65px;
	height: 40px;
	background-color: #7271bab5;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	transition: .4s;
	&__help {
		&__title {
			font-family: $title2;
			color: white;
			text-align: center;
		}
	}
	&__guide	 {
		position: relative;
		left: $goOut;
		height: 0%;
		transition: .5s;
		&__help {
			$font-family: $title2;
			text-align: center;
			font-size: 0px;
		}
		&__hints {
			& li {
				transition: .8s;
				color: white;
				font-weight: $lightBold;
				padding: .5rem;
				line-height: 0px;
				font-size: 0px;
			}
			& li:last-child {
				padding: 0px;
			}
		}
	}
	&:hover {
		width: 90%;
		height: 100%;	
	}
	&:hover .pokeguide__help {
		&__title {
			padding-top: 1rem;
		}
	}
	&:hover .pokeguide__guide {
		height: auto;
		left: 0px;
		padding: 1rem 2rem;
		&__help {
			font-size: initial;
		}
		&__hints {
			& li {
				font-size: initial;
				line-height: initial;
			}
		}
	}
}

/* Search Bar Id */
.searchBar {
	@include generalSection;
	&__form {
		display: flex;
		align-items: center;
		justify-content: initial;
		padding: 0.6rem;
		background-color: #f5f5ff;
		outline: 7px solid #7489cb;
		outline-offset: -4px;
		outline-style: auto;
		border: 4px solid #f5f5ff;
		&__label {
			font-family: $normal;
			margin: 0px .5rem;
			color: black;
			font-weight: $lightBold;
		}
		&__input {
			margin: 0px 1rem 0px 0px;
			height: 35px;
			padding: .3rem;
		}
		&__container {
			$width: 35px;
			display: flex;
    		align-items: center;
			position: relative;
			width: $width;
			&__button {
				font-family: $normal;
				background-color: #ffffffc7;
				border: none;
				border-radius: 16px;
				position: absolute;
				width: 78px;
				padding-left: 0.2rem;
				top: 50%;
				left: 138%;
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				font-size: .8rem;
				font-weight: 700;
				z-index: 2;
				text-align: initial;
			}
			&__img {
				display: inline-block;
				width: $width;
			}
		}
	}

}