@keyframes neonlights { 
 0%, 18%, 22%, 25%, 53%, 57%, 100% {
 	text-shadow:
	0px 0px 6px #fff,
 	0px 0px 10px #fff,
 	0px 0px 12px #fff,
 	0 0 23px #071877,
 	0 0 82px #071877,
	0 0 92px #071877,
	0 0 172px #071877,
	0 0 188px #071877;
} 20%, 24%, 55% {
	text-shadow: none;
}}

.quiz_headers {
	font-size: 3rem;
	font-family: $special;
	color: white;
	text-shadow: 0 0 13px #ffffff99;
	text-align: center;
	@include tablet {
		font-size: 4rem;
		margin: 100px 0px 50px 0px
	}
}
.challenge_form {
	margin-top: 1rem;
	box-shadow: 0 0 26px white;
    background-color: #ffffff00;
}
.challenge_label {color:white;}
.selector {
	overflow-x: hidden;
	overflow-y:hidden;
	max-width: 300px;
    margin: 2rem auto;
    padding: 1rem 0.2rem;
    box-shadow: 0 0 26px white;
    background-color: #ffffff00;
    border-radius: 8px;
    padding: 2rem 0px 0px 0px;
    @include tablet {
    	width: 530px;
	    height: 385px;
	    padding: 3rem;
	    max-width: 100%;
	    margin-bottom: 400px;
    }
    @include square_pc {
    	width: 660px;
    	height: 260px;
    }
    &__choices {
    	display: flex;
    	flex-flow: column;
    	@include square_pc {
    		flex-flow: row;
    	}
    }
	&__title {
		font-family: $title2;
		color: white;
	    text-align: center;
	    margin-bottom: 2rem;
	    text-shadow: 0 0 13px #ffffff99;
	    letter-spacing: 2px;
	}
	&__container {
		width: 80%;
		max-width: 230px;
		height: 135px;
   		margin: auto;
   		z-index: 2;
   		&:hover .selector__easy_quiz__text {
			display: block;
			position: relative;
			color: white;
			bottom: -10px;
			left: 0px;
			margin: auto;
			font-family: $normal;
			font-size: .8rem;
			text-align: center;
		}
	}
	&__img {
		width: 70%;
		opacity: .3;
		position: relative;
		height: 0px;
		top: -262px;
		left: 164px;
		z-index: 1;
		@include tablet {
			top: -333px;
			left: 309px;
		}
		@include square_pc {
			top: -291px;
			left: 365px;
		}
		& img {width:100%;}
	}
	&__easy_quiz {
		display: block;
		width: 135px;
		height: 60px;
		padding: 0.6rem;
	    border-radius: 8px;
	    background-color: #f5f5ff;
	    margin:auto;
	    &:hover {
	    	background-color: $mainbg;
	    }
		&__title {
			font-family: $normal;
			font-weight: 600;
			&:hover {
				position: relative;
				color: #ffffff;
				letter-spacing: 0.2px;
			}
		}
		&__text {
			/*display:none;*/
			position: relative;
			left: 600px;
			transition-duration: .3s;
		}
	}
	&__challenge {
		@extend .selector__easy_quiz;
		background-color: black;
		&:hover {
			background-color: $mainbg;
		}
		&__title {
			@extend .selector__easy_quiz__title;
			color: white;
			&:hover {
				position: relative;
				color: #21cea1;
				letter-spacing: 0.2px;
			}
		}
		&__text {
			display:none;
			transition-duration: .3s;
		}
	}

}

.quiz {
	margin-top: 1rem;
	box-shadow: 0 0 26px white;
    background-color: #ffffff00;
	@include tablet {
		flex-flow: column;
		width: 95%;
    	max-width: 680px;
    	margin: auto;
    	margin-bottom: 4rem;
	}
	&__div {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #000855c7;
		border-radius: 8px;
		padding: 1rem;
		height: 100px;
		transition-duration: .3s;
		margin-bottom: 1rem;
		&:hover {
			background-color: #ed143d00;
		}
		&:hover .quiz__div__question {
			display: none;
		}
		&:hover .quiz__div__answer {
			display: block;
		}
		&__question{

			&__text {
				font-family: $normal;
				color: white;
				transition-duration: .3s;
			}
		}
		&__answer {
			font-family: $special;
			display: none;
			&__text {
				color: white;
				transition-duration: .3s;
				font-size: 1.2rem;
				letter-spacing: 2px;
			}				
		}
	}
}

.dont_worry {
	display:flex;
	flex-flow:column;
	position: relative;
	top: 35px;
	width: 100vw;
	@include tablet {
		flex-flow: row;
	}
	&__text {
		position: relative;
		left: 650px;
		height: 0px;
		transition-duration: .3s;
		& p {
			
			font-family: $normal;
			color: white;
			text-align: center;
			transform: rotate(352deg);
			position: relative;
			right: 75px;
			top: -270px;
			text-shadow: 0px 0px 28px white;
		}
	}
	&__psyduck {
		width: 250px;
		align-self: end;
		& img {
			width: 100%;
		}
		&:hover .dont_worry__text {
			left: 0px;
		}
		&:hover img {
			-webkit-animation: wiggle 0.5s infinite;
			-moz-animation: wiggle 0.5s infinite;
			animation: wiggle 0.5s infinite;
		}
	}
}