$quizMarginBottomMobile: 80px;
@mixin quizSections {
	margin: 2rem 1rem;
	padding: 1rem;
	border-radius: $borderRadius;
	box-shadow: 0 0 26px white;
    background-color: #ffffff00;
	flex-flow: column;
	height: fit-content;
	margin-bottom: $quizMarginBottomMobile;
}

.quiz_headers {
	font-size: 3rem;
	font-family: $special;
	color: white;
	text-shadow: 0 0 13px #ffffff99;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 50px;
	animation-name: lightChange;
	animation-duration: 1.25s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	@include tablet {
		font-size: 4rem;
		margin: 100px 0px 50px 0px
	}
}
.challengeForm {
	margin-top: 1rem;
	box-shadow: 0 0 26px white;
    background-color: #ffffff00;
	margin-bottom: $quizMarginBottomMobile;
}
.challenge_label {color:white;}

.selector {
	@include quizSections;
	font-size: $normal;
	&__title {
		font-family: $title2;
		margin: 2rem auto 2rem auto;
		color: white;
		text-align: center;
	}
	&__choice {
		$choiceWidth: 250px;
		$choiceHeigth: 110px;
		@mixin choiceCard {
			width: 100%;
			max-width: $choiceWidth;
			height: $choiceHeigth;
			border-radius: $borderRadius;
			position: relative;
		}
		@include choiceCard;
		margin: 2rem auto;
		&__easy {
			$mainColor: #000000a8;
			$secColor: white;
			@include choiceCard;
			display:flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border: 1px solid rgb(255, 255, 255);
			background-color: $mainColor;
			transition: .5s;
			
			&__title {
				position:relative;
				z-index: 3;
				font-family: $title1;
				color: $secColor;
				font-size: 2rem;
				width: 100%;
				text-align: center;
			}
			&__imgLeft {
				position: relative;
				width: 180px;
				height:0px;
				bottom: 93px;
				left: -94px;
				z-index: 1;
				opacity: .8;
				& img {width: 100%;}
			}
		}
		&__challenge {
			@extend .selector__choice__easy;
			$mainColor: #000000a8;
			$secColor: white;
			background-color: $mainColor;
			border: 1px solid white;
			&__title {
				@extend .selector__choice__easy__title;
				color: $secColor;
			}
			&__imgRight {
				@extend .selector__choice__easy__imgLeft;
				bottom: 119px;
				left: 135px;
				& img {width: 100%;}
			}
			
		}	
		&__description {
			@include choiceCard;
			border: 1px solid white;
			bottom: $choiceHeigth;
			background-color: #175f97;
			left: 100vw;
			transition: .5s;
			&__text {
				font-size: .9rem;
				font-family: $normal;
				height: 60px;
 	   			padding: .5rem;
				text-align: center;
				color: white;
			}
			&__down {
				display: flex;
				flex-flow: row;
				justify-content: space-evenly;
				height: 55px;
				&__link {
					display:block;
					margin:auto;
					padding: .3rem;
					margin-top:.5rem;
					border-radius: $borderRadius;
					& a {
						text-decoration: none;
						color: black;
						font-family: $special;
					}
				}
				&__imgRight {
					width: 100px;
					display:none;
					& img {width: 100%;}
				}
				&__imgLeft {
					display:none;
					& img {width: 100%;}
				}
			}
			
			
		}
		&:hover .selector__choice__easy {
			right: 100vw;
		}
		&:hover .selector__choice__challenge {
			left: 100vw;
		}
		&:hover .selector__choice__description {
			left: 0vw;
			
		}
	}
}

.linker {
	position:relative;
	bottom: 10vh;

}

.quiz {
	@include quizSections;
	@include tablet {
		flex-flow: column;
		width: 95%;
    	max-width: 680px;
    	margin: auto;
    	margin-bottom: 4rem;
	}
	&__div {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #434872c7;
		border-radius: 8px;
		padding: 1rem;
		height: 100px;
		transition-duration: .3s;
		margin-bottom: 1rem;
		&:last-child {margin-bottom: 0px;}
		&:hover {
			background-color: #ed143d00;
		}
		&:hover .quiz__div__question {
			display: none;
		}
		&:hover .quiz__div__answer {
			display: block;
		}
		&__question{

			&__text {
				font-family: $normal;
				color: white;
				transition-duration: .3s;
			}
		}
		&__answer {
			font-family: $special;
			display: none;
			&__text {
				color: white;
				transition-duration: .3s;
				font-size: 1.2rem;
				letter-spacing: 2px;
			}				
		}
	}
}
