.sectionc {
	box-shadow: 2px -2px 8px #00000087;
	padding: 1.5rem 1rem;
	margin: 16px auto;
	height: 95%;
	@include square-pc {
		margin: auto;
	}
	&__title {
		font-size: 2rem;
		text-align: center;
		background: #f0f8ff73;
		color: black;
		@include tablet {
			font-size: 2.7rem;
		}
	}
	&__text {
		padding: 10px 1rem;
		font-family: $normal-font;
		@include tablet {
			font-size: 1.3rem;
		}
	}
	&__last {
		font-size: 1rem;
		font-weight: $bold;
		@include tablet {
			font-size: 1.3rem;
		}
	}
	&__balldiv {
		width: 25px;
		margin: auto;
		@include tablet {
			width: 30px;
		}
		&__ball {
			width: 100%;
		}
	}
}
.sectionl {
	@extend .sectionc;
	@include square-pc {
		margin: auto;
	}
	&__title {
		@extend .sectionc__title;
		text-align: left;
		@include tablet {
			font-size: 2.7rem;
		}
	}
	&__text {
		padding: 10px 1rem;
		font-family: $normal-font;
		background: #f0f8ff73;
		@include tablet {
			font-size: 1.3rem;
		}
	}
	&__last {
		font-size: 1rem;
		font-weight: $bold;
		@include tablet {
			font-size: 1.3rem;
		}
	}
	&__balldiv {
		width: 25px;
		margin: auto;
		@include tablet {
			width: 30px;
		}
		&__ball {
			width: 100%;
		}
	}
}

.sectionr {
	@extend .sectionl;
	&__title {
		@extend .sectionl__title;
		color: white;
		text-align: right;
	}
	&__text {
		@extend .sectionl__text;
		color: antiquewhite;
	}
	&__frase {
		text-align: center;
	}
	&__link {
		display: block;
		margin: auto;		
		color: green;
		font-weight: $bold;
		text-align: center;
	}
	&__balldiv {
		@extend .sectionl__balldiv;
		&__ball {
			@extend .sectionl__balldiv__ball;
		}
	}
}

.about {
	@extend .sectionl;
	@extend .sectionr;
	&__title {
		@extend .sectionl__title;
	}
	&__text {
		@extend .sectionr__text;
		color: black;
	}
	&__div {
		&__text {
			text-align: center;
		}
		&__link {
		}
	}
	&__balldiv {
		@extend .sectionl__balldiv;
		&__ball {
			@extend .sectionl__balldiv__ball;
		}
	}
}
.contact {
	@extend .sectionl;
	@extend .sectionr;
	@include tablet {
		;
	}
	@include square-pc {
		margin: auto;
	}
	&__title {
		@extend .sectionr__title;
	}
	&__ask {
		font-family: $normal-font;
		padding: 10px 1rem;
		color: white;
		@include tablet {
			text-align: center;
			font-size: 1.3rem;
		}
		@include square-pc {

		}
	}
}
#pokedex_card {
	background: url(../img/day_bg.png) no-repeat center center fixed;
}
#quiz_card {
	background: url(../img/night_bg.png);
	background-size: cover;
}
#about_card {
	background: url(../img/home_bg.png);
	background-size: cover;
}
#contact_card {
	background: url(../img/day_bg.png) no-repeat center center fixed;
}
#primer-boton, .accordion-button {
	font-size: 1.3rem;
	padding: 1rem;
}
.accordion-body {
	font-size: 1.2rem;
}


