/* CLASE SECTION */
$cardFront: #a05f5f82;
$cardSide: #aae1f1;

$cardFrontPokedex: gray;
$cardSidePokedex: #e7d4d4;

$cardFrontQuiz:#aae1f1;
$cardSideQuiz: #9281618f;

$cardFrontAbout: #080041a3;
$cardSideAbout: #580dc582;

$cardFrontContact: #e0c849;
$cardSideContact: #e377d261;


$cardHeightSmall: 340px;
$fastTransition: .2s;
$mediumTransition: .5s;
$slowTransition: 8s;

$goOut: 120vw;

.section {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	height: $cardHeightSmall;
	margin: 1rem;
	font-family: $normal;
	text-align: center;
	background-color: $lightbg;
	box-shadow: 0px 0px 8px #091353;
	border-radius: $borderRadius;
	margin:2rem 1rem;
	&__firstCard {
		width: 100%;
		height: $cardHeightSmall;
		margin: auto;
		position: relative;
		top: 0px;
		left: 0px;
		background-color: $cardFront;
		overflow: hidden;
		border-radius: $borderRadius;
		transition: $mediumTransition;
		& h2 {
			position: relative;
			top: 85px;
			font-family:$title2;
			margin: 1rem;
			border-radius: $borderRadius;
			padding: 5rem;
			font-size: 5rem;
			text-align: center;
			background-color:#ffffff52;
			transition: $fastTransition;
			z-index:2;
			@include tablet {
				font-size: 7rem;
				top:78px;
				width: 340px;
				margin: auto;
			}
		}
		&__imgRight {
			width: 400px;
			position:relative;
			opacity: .4;
			bottom:155px;
			left: 35px;
			z-index:1;
			transition: $fastTransition;
			@include tablet {
				width: 475px;
				bottom: 210px;
				left: 328px;
			}
			& img {width:100%;}

		}
		&__imgLeft {
			@extend .section__firstCard__imgRight;
			bottom: 199px;
			left: 14px;
			& img {width:100%;}
		}
	}
	&__secondCard {
		overflow: hidden;
		position: relative;
		top: 0px;
		right:$goOut;
		display: none;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		height: 0%;
		transition: $fastTransition;
		background-color: $cardSide;
		border-radius: $borderRadius;
		opacity: 0.1;
		& h2 {
			display:none;
			font-size: 3rem;
			font-family: $title2;
			@include tablet {
				font-size: 3.5rem;
			}
		}
		& p{	
			display:none;
			font-size: 1.5rem;
			@include tablet {
				font-size: 2rem;
			}
		}
		&__text {
			background-color: $lightbg;
			margin: 1rem;
			border-radius: $borderRadius;
			padding: 2rem;
			@include tablet {
				width: 400px;
			}
		}
		& p strong {
			font-weight: $bold;
		}
		& p a {
			text-decoration: none;
			color: black;
		}
		&__img {
			display:none;
			width: 26px;
			margin: 0px auto;
			& img {width: 100%;}
		}
		&__bg {
			position: relative;
			bottom: 278px;
			right: 66px;
			width: 400px;
			height: 0%;
			opacity: .2;
			z-index: 1;
		}
	}
	&:hover {
		display: block;
	}
	&:hover .section__firstCard {
			left: $goOut;
			height: 0%;
			& h2 {
				right: $goOut;
			}
			&__imgRight {
				left: $goOut;
			}
			&_imgLeft {
				right: $goOut;
			}
		}
	&:hover .section__secondCard {
		display:flex;
		height: $cardHeightSmall;
		width: 100%;
		right: 0px;
		opacity: 1;
		& h2 {
			display: block;
			z-index: 2;
		}
		& p {
			display: block;
			z-index: 2;
		}
		&__img {
			display: block;
		}
	}
}

/* BG alternativos para cada sección Variables */
/* Vars $ al comienzo de página */

.pokedexFrontCard {background-color:$cardFrontPokedex;}
.pokedexSideCard {background-color: $cardSidePokedex;}

.quizFrontCard {background-color:$cardFrontQuiz;}
.quizSideCard {background-color: $cardSideQuiz;}

.aboutFrontCard {background-color:$cardFrontAbout;}
.aboutSideCard {background-color: $cardSideAbout;}

.contactFrontCard {background-color:$cardFrontContact;}
.contactSideCard {background-color: $cardSideContact;}

