/* Media queries */
  
$sm: 317px;
$md: 766px;
$lg: 992px;
$xl: 1198px;

/* Font Families */

$normal: 'Fira Mono', monospace;
$title1: 'Lobster', cursive;
$title2: 'Lobster Two', cursive;
$special: 'VT323', monospace;
$contrast: monospace;

/* Weights */
  
$reg: 400;
$bold: 700;

/* Colors */

$black-color: #0c0c0c;
$white-color: #ffffff;

/* BG colors */

$mainbg: #091353;
$secbg: #9D84B7;
$light: #BFC1CD;
$blight: #B2F9FC;
