:root
{
	/*FONTS*/
	--normal-font: 'Fira Mono', monospace;
	--title-font: 'Lobster', cursive;
	--special-font: 'VT323', monospace;
	--contrast-font: monospace;
}
/** {background: none; background-color: none;}*/

h1 {font-family: var(--title-font);}

/****************************/
/*****   BACKGROUNDS       **/
/****************************/
html {overflow-x: hidden;}
/*.home_bg {background: url('../img/home_bg.png') no-repeat center center fixed;}*/

/****************************/
/*****   HEADER            **/
/****************************/
#header_logo {
	width: 100%;
	color: black;
	overflow: hidden;
	max-width: 508px;
    min-height: 140px;
    height: auto;
    max-height: 151px;
    margin: auto;
}
h1 {font-size: 5rem;}
#firma {
	font-family: var(--special-font);
	font-size: 1.8rem;
    text-align: center;
    position: relative;
	left: 135px;
    bottom: 23px;
    display: inline;
}
#header_logo div {
	width: 70px;
    position: relative;
    left: 186px;
    bottom: 62px;
}

/* NAVBAR */
#header_navbar {padding-left: 0px; padding-right: 0px;}
#header_navbar a {max-width: 18%}
.wiggler {width: 47%;max-width: 60px;margin: auto;}

/****************************/
/*****   MAIN              **/
/****************************/

section
{
	/*width: 95%;
	max-width: 680px;
    margin: auto;
    margin-bottom: 3rem;*/
    background-color: #d1e8fdd4;
    padding: 1rem;
    border: 1px solid black;
    box-shadow: 3px 3px 3px #00000063;
    border-radius: 8px;
    /*text-align: center;*/
}


.miniball {width: 30px;}