:root
{
	/*FONTS*/
	--normal-font: 'Fira Mono', monospace;
	--title-font: 'Lobster', cursive;
	--special-font: 'VT323', monospace;
	--contrast-font: monospace;
}
/** {background: none; background-color: none;}*/

h1 {font-family: var(--title-font);}

/****************************/
/*****   BACKGROUNDS       **/
/****************************/
html {overflow-x: hidden;}
/*.home_bg {background: url('../img/home_bg.png') no-repeat center center fixed;}*/

/****************************/
/*****   HEADER            **/
/****************************/
@media (min-width: 980px){
	#main-header {font-size: 8rem;}
}
.pokeball-logo img {width: 15%; max-width: 150px;}
#poke_logo {position: relative; left: -56px;}
#odish_img {width: 100%; max-width: 200px;}
/* NAVBAR */

/****************************/
/*****   MAIN              **/
/****************************/
section
{
    background-color: #d1e8fdd4;
    padding: 1rem;
    border: 1px solid black;
    box-shadow: 3px 3px 3px #00000063;
    border-radius: 8px;
}
.miniball {width: 30px;}