@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Lobster&family=Lobster+Two:wght@400;700&family=VT323&display=swap");
/* Media queries */
/* Font Families */
/* Weights */
/* Colors */
/* BG colors */
/* Animations */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; } }

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(4deg); }
  50% {
    -webkit-transform: rotate(-4deg); }
  100% {
    -webkit-transform: rotate(4deg); } }

/* firefox */
@-moz-keyframes wiggle {
  0% {
    -moz-transform: rotate(4deg); }
  50% {
    -moz-transform: rotate(-4deg); }
  100% {
    -moz-transform: rotate(4deg); } }

@keyframes wiggle {
  0% {
    transform: rotate(4deg); }
  50% {
    transform: rotate(-4deg); }
  100% {
    transform: rotate(4deg); } }

/* Fondos para el Body completo */
.home_background {
  background-color: #d7e9f9;
  /*background: linear-gradient(180deg, #c8a3d5 0%, #091353c2 94%, #091353 100%);*/ }

.sunshine_bg {
  background: url(../img/home_bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* wrapper envuelve todo el contenido del body */
.wrapper {
  padding: 0px;
  overflow-x: hidden; }

/* NAV-HEADER de la HOME PAGE */
.fixed-top {
  top: -1px; }

.navbar_wrapper {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden; }

.navbar {
  height: 55px;
  background-color: #091353;
  padding-top: .3rem; }

button .navbar-toggler {
  height: 35px;
  display: flex;
  align-items: center; }

#navbar-title {
  font-size: 2rem;
  color: white;
  font-family: "Lobster Two", cursive;
  letter-spacing: 6px;
  padding-left: 1rem;
  margin-bottom: 20px;
  max-width: 210px;
  box-shadow: -2px 3px 1px white; }

.nav-item {
  max-width: 144px; }
  .nav-item__link {
    font-family: "Fira Mono", monospace;
    letter-spacing: 2px; }
  @media screen and (min-width: 992px) {
    .nav-item {
      max-width: 165px; } }
  .nav-item__menudiv {
    width: 40px; }
    .nav-item__menudiv__img {
      width: 100%; }
  .nav-item__link {
    font-size: 1.2rem; }
    @media screen and (min-width: 766px) {
      .nav-item__link {
        font-size: 1.3rem; } }

.navhead {
  display: flex;
  flex-flow: row; }
  .navhead__title {
    color: #ffffff;
    font-family: "Lobster", cursive;
    font-size: 2rem; }
  .navhead__logo {
    width: 50px;
    position: relative;
    top: 8px;
    right: 11px; }
    .navhead__logo__img {
      width: 100%; }

.navbg {
  background: #091353; }

/* HEADER de QUIZ, ABOUT, POKE y CONTACT */
.day_header {
  background: linear-gradient(0deg, #409cec 0%, #5facdef7 35%, #0b072bb8 100%);
  box-shadow: 0px 6px 24px #585c86e0;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px; }

.night_header {
  background: linear-gradient(0deg, #21315259 0%, #125179 35%, #010838 100%);
  border-bottom: 1px solid black;
  box-shadow: 3px 3px 3px #00000063;
  border-radius: 8px; }

/* Solo Header */
.header {
  position: sticky;
  top: -118px;
  z-index: 3;
  align-items: center; }
  @media screen and (min-width: 766px) {
    .header {
      display: flex;
      flex-flow: row;
      height: 130px;
      top: 0;
      justify-content: center; } }
  .header__logo {
    width: 100%;
    color: white;
    overflow: hidden;
    max-width: 290px;
    height: auto;
    max-height: 115px;
    margin: auto; }
    @media screen and (min-width: 766px) {
      .header__logo {
        width: 50%;
        margin: 0px; } }
    .header__logo__title {
      position: relative;
      font-family: "Lobster Two", cursive;
      font-size: 5rem;
      text-align: center;
      margin-right: 2rem;
      z-index: 2; }
    .header__logo__firma {
      position: relative;
      font-family: "VT323", monospace;
      font-size: 1.8rem;
      text-align: center;
      position: relative;
      left: 47%;
      bottom: 18px;
      display: inline;
      z-index: 2; }
      @media screen and (min-width: 766px) {
        .header__logo__firma {
          text-align: right;
          position: relative;
          bottom: 14px;
          right: 70px; } }
    .header__logo__ball {
      width: 96px;
      position: relative;
      left: 174px;
      bottom: 75px;
      z-index: 1; }
      .header__logo__ball__img {
        width: 100%; }

/* Nav Flex Bar */
.navflex {
  display: flex;
  flex-flow: row;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center; }
  .navflex__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 8vh;
    text-decoration: none;
    color: white; }
    .navflex__link__wiggler {
      width: 47%;
      max-width: 60px;
      margin: auto; }
    .navflex__link__text {
      font-family: monospace;
      font-size: 1rem;
      text-align: center;
      color: inherit;
      text-shadow: 0px 3px 3px black; }
      .navflex__link__text:hover {
        text-shadow: 2px 1px 1px #7b4040;
        font-size: 1.2rem;
        position: relative;
        top: 2%; }

.navflex__link:hover .navflex__link__wiggler {
  position: relative;
  -webkit-animation: wiggle 0.5s infinite;
  -moz-animation: wiggle 0.5s infinite;
  animation: wiggle 0.5s infinite; }

.navflex__link:active .navflex__link__wiggler {
  -webkit-animation: wiggle 0.5s infinite;
  -moz-animation: wiggle 0.5s infinite;
  animation: wiggle 0.5s infinite; }

/* Variables para los diferentes dispositivos */
/* Altura del carrousel */
#carouselExampleInterval {
  margin-top: 45px;
  height: 380px;
  overflow-y: hidden;
  border-bottom: 0px solid #091353b8;
  box-shadow: 0px -3px 17px #091353; }
  @media screen and (min-width: 766px) {
    #carouselExampleInterval {
      height: 540px; } }
  @media screen and (min-width: 1198px) {
    #carouselExampleInterval {
      height: 600px; } }

.carousel-inner {
  height: 100%;
  max-height: 380px; }
  @media screen and (min-width: 766px) {
    .carousel-inner {
      max-height: 540px; } }
  @media screen and (min-width: 1198px) {
    .carousel-inner {
      max-height: 600px;
      height: 600px; } }

.carousel-item {
  height: 100%;
  max-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (min-width: 766px) {
    .carousel-item {
      max-height: 540px; } }
  @media screen and (min-width: 1198px) {
    .carousel-item {
      max-height: 600px;
      height: 600px; } }

/* Cards con título-texto del Carrousel */
.carousel-card-r {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-top: 7rem;
  background-color: #ffffff47;
  align-items: end;
  padding-left: 3rem;
  padding-right: 1rem; }
  @media screen and (min-width: 766px) {
    .carousel-card-r {
      width: 80%;
      margin: auto;
      margin-top: 8rem; } }
  .carousel-card-r__title {
    font-family: "VT323", monospace;
    font-size: 1.7rem;
    margin-top: 1rem;
    text-align: right; }
    @media screen and (min-width: 766px) {
      .carousel-card-r__title {
        font-size: 4.7rem; } }
    @media screen and (min-width: 1198px) {
      .carousel-card-r__title {
        font-size: 6.7rem; } }
  .carousel-card-r__text {
    color: black;
    font-size: 1rem;
    font-family: "Fira Mono", monospace;
    font-weight: 500;
    max-width: 220px;
    margin-bottom: 1rem;
    text-align: right; }
    @media screen and (min-width: 766px) {
      .carousel-card-r__text {
        max-width: 300px;
        margin-bottom: 3rem; } }
    @media screen and (min-width: 1198px) {
      .carousel-card-r__text {
        font-size: 1.8rem;
        max-width: 580px; } }

.carousel-card-l {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-top: 7rem;
  background-color: #ffffff47;
  padding: 0rem 3rem 0rem 1rem; }
  @media screen and (min-width: 766px) {
    .carousel-card-l {
      width: 80%;
      margin: auto;
      margin-top: 8rem; } }
  @media screen and (min-width: 766px) {
    .carousel-card-l {
      padding: 1rem 0rem 1rem 3rem; } }
  .carousel-card-l__title {
    font-family: "VT323", monospace;
    font-size: 1.7rem;
    margin-top: 1rem;
    text-align: left; }
    @media screen and (min-width: 766px) {
      .carousel-card-l__title {
        font-size: 4.7rem; } }
    @media screen and (min-width: 1198px) {
      .carousel-card-l__title {
        font-size: 6.7rem; } }
  .carousel-card-l__text {
    color: black;
    font-size: 1rem;
    font-family: "Fira Mono", monospace;
    font-weight: 500;
    max-width: 220px;
    margin-bottom: 1rem;
    text-align: left; }
    @media screen and (min-width: 766px) {
      .carousel-card-l__text {
        max-width: 300px;
        margin-bottom: 3rem; } }
    @media screen and (min-width: 1198px) {
      .carousel-card-l__text {
        font-size: 1.8rem;
        max-width: 580px; } }

#accordionFlushExample {
  box-shadow: 0px 0px 8px #091353; }
  @media screen and (min-width: 766px) {
    #accordionFlushExample {
      margin-right: 1rem;
      max-width: 335px; } }
  @media screen and (min-width: 1198px) {
    #accordionFlushExample {
      margin-right: 0px;
      max-width: 400px; } }

@media screen and (min-width: 1198px) {
  #accordion_1, #accordion_2, #accordion_3 {
    font-size: 1.2rem; } }

#accordion_1 {
  font-family: "Fira Mono", monospace;
  background-color: #091353;
  color: #ffffff; }

#accordion_2 {
  font-family: "Fira Mono", monospace;
  background-color: #c3c3c3;
  color: #0c0c0c; }

#accordion_3 {
  color: #ffffff;
  font-family: "Fira Mono", monospace;
  background-color: #501c87; }

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #ffffff; }

.accordion-button:focus {
  border-color: #091353;
  box-shadow: 0px 0px 6px #091353; }

.accordion-item {
  border: none; }

.accordion-body {
  color: #0c0c0c;
  background-color: #f5f5ff; }

.maindiv {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly; }
  @media screen and (min-width: 766px) {
    .maindiv {
      flex-flow: row;
      align-items: center;
      height: 500px; } }

.section, .welcome, .pokedex, .quiz, .about, .contact {
  font-family: "Fira Mono", monospace;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  background-color: #f5f5ff;
  box-shadow: 0px 0px 8px #091353;
  border-radius: 7px;
  margin: 5rem 1rem; }
  @media screen and (min-width: 766px) {
    .section, .welcome, .pokedex, .quiz, .about, .contact {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      min-height: 400px; } }
  .section__title, .welcome__up__title, .pokedex__up__title, .quiz__up__title, .about__up__title, .contact__up__title {
    color: #091353;
    font-family: "Lobster Two", cursive; }
    @media screen and (min-width: 766px) {
      .section__title, .welcome__up__title, .pokedex__up__title, .quiz__up__title, .about__up__title, .contact__up__title {
        font-size: 3rem;
        margin-top: 1rem; } }
    @media screen and (min-width: 1198px) {
      .section__title, .welcome__up__title, .pokedex__up__title, .quiz__up__title, .about__up__title, .contact__up__title {
        font-size: 4.5rem; } }
  @media screen and (min-width: 766px) {
    .section__text, .welcome__down__text, .pokedex__down__text, .quiz__down__text, .about__down__text, .contact__down__text {
      margin-top: 1rem; } }
  @media screen and (min-width: 1198px) {
    .section__text, .welcome__down__text, .pokedex__down__text, .quiz__down__text, .about__down__text, .contact__down__text {
      font-size: 1.3rem; } }
  @media screen and (min-width: 766px) {
    .section__box, .welcome__down__box {
      margin-top: 1rem; } }
  @media screen and (min-width: 1198px) {
    .section__box, .welcome__down__box {
      font-size: 1.3rem; } }
  .section__down, .welcome__down, .pokedex__down, .quiz__down, .about__down, .contact__down {
    margin: 0px auto; }

section .section-left, section .section-right {
  width: auto;
  min-width: 45%;
  max-width: 50%;
  margin: auto; }
  section .section-left__img {
    display: none; }
    @media screen and (min-width: 766px) {
      section .section-left__img {
        display: block;
        width: 100%;
        border: 7px solid #8073a4;
        border-radius: 7px;
        z-index: 1; } }
  section .section-left__link {
    display: none; }
    @media screen and (min-width: 766px) {
      section .section-left__link {
        display: block;
        position: absolute;
        top: 0;
        left: 0; } }

section .section-right__img {
  display: none; }
  @media screen and (min-width: 766px) {
    section .section-right__img {
      display: block;
      width: 100%;
      border: 7px solid #091353;
      border-radius: 7px;
      z-index: 1; } }

.text__max__width, .welcome__down, .pokedex__down, .quiz__down, .about__down, .contact__down {
  max-width: 430px; }
  @media screen and (min-width: 1198px) {
    .text__max__width, .welcome__down, .pokedex__down, .quiz__down, .about__down, .contact__down {
      max-width: 500px; } }

.miniball, .welcome__down__box__imgdiv, .pokedex__down__box__imgdiv, .quiz__down__box__imgdiv, .about__down__box__imgdiv, .contact__down__box__imgdiv {
  width: 26px;
  margin: auto; }

.welcome {
  margin: 2rem 1rem; }
  @media screen and (min-width: 766px) {
    .welcome {
      flex-flow: column;
      justify-content: center;
      width: 60%;
      height: 350px; } }
  .welcome__down__text, .pokedex__down__text, .quiz__down__text, .about__down__text, .contact__down__text {
    text-align: center; }
  .welcome__down__box__text {
    font-weight: bold;
    margin-bottom: 5px; }
  .welcome__down__box__imgdiv__img {
    width: 100%; }

.pokedex__down__text {
  @text-align : left; }

.pokedex__down__box__imgdiv__img {
  width: 100%; }

.quiz__up__title {
  color: #0c0c0c; }

.quiz__down__box__imgdiv__img {
  width: 100%; }

.about {
  background-color: #f5f5ff; }
  .about__down__text {
    @text-align : left; }
  .about__down__box__imgdiv__img {
    width: 100%; }

.contact {
  background-color: #f5f5ff; }
  .contact__down__text {
    @text-align : left; }
  .contact__down__box__imgdiv__img {
    width: 100%; }

.sect {
  overflow: hidden;
  width: 95%;
  max-width: 680px;
  margin: auto;
  margin-bottom: 3rem;
  background-color: #d1e8fdf5;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 3px 3px 3px #00000063;
  border-radius: 8px;
  text-align: center; }
  .sect__title {
    font-family: "Lobster Two", cursive;
    font-size: 1.4rem; }
  .sect__text {
    position: relative;
    padding: 2rem 1rem;
    text-align: center;
    line-height: 24px;
    z-index: 2; }
  .sect__card {
    display: flex;
    flex-flow: column;
    align-items: center; }
    @media screen and (min-width: 766px) {
      .sect__card {
        flex-flow: row; } }
    .sect__card__pokedex {
      width: 90px; }
      .sect__card__pokedex__img {
        width: 100%; }
  .sect__jigglyR, .sect__jigglyL {
    position: relative;
    bottom: 196px;
    left: 100px;
    z-index: 1;
    opacity: .3;
    width: 228px;
    height: 0px; }
    .sect__jigglyR__img, .sect__jigglyL__img {
      width: 100%;
      z-indez: 1; }
  .sect__jigglyL {
    left: -50px; }

.wrapdiv404 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
  background: url("../img/poster3wide.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.p404 {
  max-width: 1280px;
  max-height: 720px; }

/* Colores para otras páginas */
.asidel {
  font-family: "Fira Mono", monospace;
  background-color: #091353;
  width: 100vw;
  height: 100px;
  display: flex;
  flex-flow: row;
  box-shadow: 0px 0px 19px #9d84b7;
  border-end-end-radius: 86px;
  border-start-end-radius: 72px;
  background-color: #102436; }
  .asidel__logo, .asider__logo {
    width: 52%;
    max-width: 100px; }
    .asidel__logo__img {
      width: 100%; }
  .asidel__text, .asider__text {
    width: 191px;
    background-color: #9D84B7;
    background-color: #adadad;
    margin: 1rem;
    padding: .5rem;
    border-radius: 7px; }
    @media screen and (min-width: 766px) {
      .asidel__text, .asider__text {
        display: flex;
        flex-flow: column;
        justify-content: center; } }
    .asidel__text__p, .asider__text__p {
      color: #091353;
      font-size: .7rem;
      font-weight: 500;
      margin: 0; }
      @media screen and (min-width: 370px) {
        .asidel__text__p, .asider__text__p {
          font-size: .85rem; } }
      @media screen and (min-width: 1198px) {
        .asidel__text__p, .asider__text__p {
          font-size: 1.3rem; } }
    .asidel__text__firma, .asider__text__firma {
      font-family: "VT323", monospace;
      text-align: right;
      margin: 0; }
      @media screen and (min-width: 1198px) {
        .asidel__text__firma, .asider__text__firma {
          font-size: 1.3rem; } }
  .asidel__pokedex, .asider__pokedex {
    display: none; }

.asider {
  font-family: "Fira Mono", monospace;
  background-color: #091353;
  width: 100vw;
  height: 100px;
  display: flex;
  flex-flow: row;
  box-shadow: 0px 0px 19px #9d84b7;
  border-end-end-radius: 86px;
  border-start-end-radius: 72px;
  background-color: #102436; }
  @media screen and (min-width: 766px) {
    .asider {
      justify-content: end; } }
  .asider__logo__img {
    width: 100%; }

.asider__text__p a, .asidel__text__p a, .asider__text__p a {
  color: #f5f5ff;
  text-decoration: none; }

.footer {
  width: 100%; }
  .footer__banner {
    width: 100%;
    max-width: 768px;
    margin: auto; }
    @media screen and (min-width: 766px) {
      .footer__banner {
        border: 2px solid #09135352;
        border-bottom: none;
        border-start-start-radius: 160px;
        border-start-end-radius: 160px;
        /*background: url('../img/home_bg.png');*/
        background-size: contain;
        box-shadow: 0px -9px 42px #ffffff;
        background-color: #d7e9f9; } }
    .footer__banner__img {
      width: 100%; }
  .footer__pie {
    width: 100%;
    padding: .5rem;
    background-color: #a7a6a6;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top: 1px solid #091353;
    box-shadow: 0px 1px 18px #f5f5ff; }
    .footer__pie__list {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      margin-bottom: 0;
      padding: 0;
      max-width: 430px;
      margin: auto; }
      .footer__pie__list__item, .footer__pie__list__itemball {
        width: 40px;
        list-style: none;
        margin-right: .6rem; }
        .footer__pie__list__item__img {
          width: 100%; }
      .footer__pie__list__itemball {
        width: 18px;
        display: flex;
        align-items: center; }
        .footer__pie__list__itemball__img {
          width: 100%; }
